<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header_content :: header_content" />
<!--navbar-->
<div th:replace="fragments/navbar_content :: navbar_content"/>
<!--navbar end-->

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

<link rel="stylesheet" href="/fonts/icomoon/style.css">
<!-- Style -->
<link rel="stylesheet" href="/css/style-list.css">


<body>

<div class="content">

    <div class="container">
        <h2 class="mb-5">헌혈견관리 & 조회</h2>


        <div class="table-responsive">

            <table class="table table-striped custom-table">
                <thead>
                <tr>

                    <th scope="col">헌혈견번호</th>
                    <th scope="col">동물등록번호</th>
                    <th scope="col">헌혈견 이름</th>
                    <th scope="col">견종</th>
                    <th scope="col">출생년도</th>
                    <th scope="col">헌혈날짜</th>
                    <th scope="col">혈액형</th>
                    <th scope="col">헌혈양</th>
                    <th scope="col">헌혈기관</th>
                    <th scope="col">등록자</th>
                    <th scope="col">조회</th>
                    <th scope="col">삭제</th>




                </tr>
                </thead>
                <tbody>
                <tr scope="row"th:each="allDos : ${AllDos}">



                    <td th:text="${allDos.donationIdx}"></td>
                    <td th:text="${allDos.register.aniId}" ></td>
                    <td th:text="${allDos.register.aniName}"></td>
                    <td th:text="${allDos.kind}"></td>
                    <td th:text="${allDos.register.birth}"></td>
                    <td th:text="${allDos.DDate}"></td>

                    <td th:text="${allDos.type}" ></td>
                    <td th:text="${allDos.DPack}"><a href="#"></a>
                    <td th:text="${allDos.DHos}" ></td>
                    <td th:text="${allDos.creater}" ></td>
                    <td><a class="more" th:href="@{https://baobab.scope.klaytn.com/tx/{hash} (hash=${allDos.hash})}"
                           role="button">NFT</a></td>


                    <td><form action="/donation/delete/admin" method="post">
                        <input class="more" type="submit" id="donationIdx" name="donationIdx"th:value="*{allDos.donationIdx}" >
                    </form></td>






                </tr>
                </tbody>
            </table>
        </div>


    </div>

</div>

<td>
    <a href="/vc/new" class="btn btn-primary" role="button">추가</a>
</td>

</body>
<!--footer -->
<div th:replace="fragments/footer_content :: footer_content" />
<!--footer-end -->

<!-- jQuery -->
<!--<script src="js/jquery.min.js"></script>-->

<!-- Bootstrap -->
<script src="/bootstrap/js/bootstrap.min.js"></script>



</html>