{
  "openapi": "3.1.0",
  "info": {
    "title": "Metadata API",
    "description": "# Introduction \n\nMetadata API는 메타데이터와 에셋을 관리하는 Restful API입니다.\n\n## 주요 기능\n* 외부 접근 URI 제공 : \n\n  KIP17, KIP37 등 토큰을 발행할 때 사용되는 메타데이터와 에셋(사진, 동영상 등)을 업로드하고, 외부 접근이 가능한 URI를 제공합니다.  \n\n# Authentication\n\n<!-- ReDoc-Inject: <security-definitions> -->"
  },
  "tags": [
    {
      "name": "err-400",
      "x-displayName": "400: Bad Request",
      "description": "| Code | Messages |\n|--- |--- |\n|1174401|invalid input|\n|1174402|invalid input : check json format|\n|1174403|invalid input : you should check json format for metadata|\n|1174404|invalid input : check your filename|\n|1174405|invalid input : body size should not exceed 10MB|\n|1174406|invalid input : check Content-Type Header|\n|1174407|duplicate KRN name|\n|1175301|duplicate key : check your filename|\n"
    },
    {
      "name": "Data Upload"
    }
  ],
  "x-tagGroups": [
    {
      "name": "API",
      "tags": [
        "Data Upload"
      ]
    },
    {
      "name": "Error Codes",
      "tags": [
        "err-400"
      ]
    }
  ],
  "servers": [
    {
      "url": "https://metadata-api.klaytnapi.com"
    }
  ],
  "paths": {
    "/v1/metadata": {
      "post": {
        "summary": "메타데이터 업로드",
        "tags": [
          "Data Upload"
        ],
        "responses": {
          "200": {
            "description": "URI format : `https://metadata-store.klaytnapi.com/{storage-id}/{fileName}`\n- filename을 입력하지 않은 경우 : `{fileName}` = `{assetId}.json`\n- filename을 입력한 경우(예: `haha.json`) : `{fileName}` = `haha.json`",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UploadMetadataResponse",
                  "type": "object",
                  "description": "",
                  "properties": {
                    "filename": {
                      "type": "string",
                      "description": "저장된 메타데이터의 파일 이름"
                    },
                    "contentType": {
                      "type": "string",
                      "description": "컨텐츠 타입"
                    },
                    "uri": {
                      "type": "string",
                      "description": "메타데이터에 대한 외부 접근 URI"
                    }
                  }
                },
                "examples": {
                  "filename을 입력하지 않은 경우": {
                    "value": {
                      "filename": "4f9asvf2f5-02d0-5b86-4f99-50acds269c8a.json",
                      "contentType": "application/json",
                      "uri": "https://metadata-store.klaytnapi.com/e2d83vdb-c108-823c-d5f3-69vdf2d871c51/4f9asvf2f5-02d0-5b86-4f99-50acds269c8a.json"
                    }
                  },
                  "filename을 입력한 경우 (`haha.json`)": {
                    "value": {
                      "filename": "haha.json",
                      "contentType": "application/json",
                      "uri": "https://metadata-store.klaytnapi.com/e2d83vdb-c108-823c-d5f3-69vdf2d871c51/haha.json"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "uploadMetadata",
        "description": "메타데이터를 업로드 하는 API입니다. 업로드한 메타데이터에 외부 접근이 가능한 public URI를 제공합니다.\n\n> **참고** \n>\n> URI Path에는 각 유저에게 부여되는 고유한 `storageID`(UUID)가 추가됩니다.\n",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "x-chain-id",
            "description": "Klaytn 네트워크 체인 ID (1001 or 8217)",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "MetadataUploadRequest",
                "type": "object",
                "properties": {
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "JSON형식의 메타데이터"
                  },
                  "filename": {
                    "type": "string",
                    "description": "원하는 파일 이름. 확장자는 `.json`이어야 합니다. 만약 파일 이름이 중복될 경우 duplicate key(duplicate key) 에러가 발생합니다."
                  }
                },
                "required": [
                  "metadata"
                ]
              },
              "examples": {
                "filename을 입력하지 않은 경우": {
                  "value": {
                    "metadata": {
                      "name": "sample kip17 token's metadata",
                      "description": "description example for kip17 token",
                      "image": "https://metadata-store.klaytnapi.com/e2d83vdb-c108-823c-d5f3-69vdf2d871c51/4a85e6be-3215-93e6-d8a9-3a7d633584e7.png"
                    }
                  }
                },
                "filename을 입력한 경우 (`haha.json`)": {
                  "value": {
                    "metadata": {
                      "name": "A KIP-17 token",
                      "description": "A KIP-17 token description",
                      "image": "https://metadata-store.klaytnapi.com/e2d83vdb-c108-823c-d5f3-69vdf2d871c51/4a85e6be-3215-93e6-d8a9-3a7d633584e7.png"
                    },
                    "filename": "haha.json"
                  }
                }
              }
            }
          },
          "description": "> **참고** \n>\n> `filename`은 optional 필드입니다. 응답으로 반환하는 URI 파일 이름을 직접 입력하고 싶은 경우에만 추가하며, 추가하지 않으면 UUID가 기본값으로 입력됩니다.\n> 파일 이름이 중복될 경우, 해당 요청은 duplicate key(1175301)에러가 발생하며 실패합니다."
        }
      }
    },
    "/v1/metadata/asset": {
      "post": {
        "summary": "에셋 업로드",
        "tags": [
          "Data Upload"
        ],
        "operationId": "uploadAsset",
        "responses": {
          "200": {
            "description": "URI format : `https://metadata-store.klaytnapi.com/{storage-id}/{assetID}.{extension}`",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UploadAssetResponse",
                  "type": "object",
                  "description": null,
                  "x-examples": {
                    "png Upload Example": {
                      "contentType": "image/png",
                      "assetId": "4a85e6be-3215-93e6-d8a9-3a7d633584e7",
                      "uri": "https://metadata-store.klaytnapi.com/e2d83fbb-c123-811c-d5f3-69132v482c51/4a85e6be-3215-93e6-d8a9-3a7d633584e7.png"
                    }
                  },
                  "properties": {
                    "contentType": {
                      "type": "string",
                      "description": "해당 asset의 컨텐츠 타입"
                    },
                    "filename": {
                      "type": "string",
                      "description": "저장된 asset의 파일 이름"
                    },
                    "uri": {
                      "type": "string",
                      "description": "Asset에 대한 외부 접근 URI"
                    }
                  },
                  "examples": []
                },
                "examples": {
                  "이미지 업로드 예제": {
                    "value": {
                      "contentType": "image/png",
                      "filename": "4a85e6be-3215-93e6-d8a9-3a7d633584e7.png",
                      "uri": "https://metadata-store.klaytnapi.com/e2d83fbb-c123-811c-d5f3-69132v482c51/4a85e6be-3215-93e6-d8a9-3a7d633584e7.png"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "에셋을 업로드하는 API입니다. 에셋이란 토큰 발행 등에 사용되는 jpg, png, gif와 같은 파일을 의미합니다.\n파일을 업로드할 경우 외부 접근이 가능한 public URI을 제공합니다.\n파일 크기는 10MB로 제한됩니다. 10MB보다 큰 파일을 제출할 경우 invalid input(1174405) 에러가 발생합니다.\n\n> **참고** \n>\n> URI Path에는 각 유저에게 부여되는 고유한 `storageID`(UUID)가 추가됩니다.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "x-chain-id",
            "description": "Klaytn 네트워크 체인 ID (1001 or 8217)",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "title": "UploadAssetRequest",
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "multipart/form-data로 파일을 추가합니다.\n파일 개수는 1개, 용량은 10MB로 제한됩니다.\n"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          },
          "description": "업로드하고자 하는 파일을 첨부합니다. "
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basic": {
        "description": "KAS는 Basic HTTP Auth를 사용합니다. 모든 요청은 반드시 올바른 Authorization 헤더를 가져야 하며 KAS 사용자는 access key ID를 `username`으로, secret access key를 `password`로 사용하여 Basic Auth에 사용할 자격증명을 생성합니다.\n\n> **참고** \n>\n> KAS 계정의 각 Credential은 모든 KAS 서비스를 사용할 수 있으며, Wallet API로 만든 Klaytn 계정에 대한 모든 권한을 소유하기 때문에, 생성한 Klaytn 계정의 자산(KLAY 등) 이동이나 [트랜잭션 실행](https://docs.klaytnapi.com/tutorial/wallet-transaction-api) 권한을 가집니다. KAS/Klaytn 계정 보안을 위해 KAS API 인증 키(Secret Access Key)를 타인과 함부로 공유하지 말고 주의해 관리하십시오.\n\n**cURL**\n```\n  curl --location --request GET 'https://kip7-api.klaytnapi.com/v1/contract' \\\n  -u ${your_accessKeyId}:${your_secretAccessKey} \\\n  --header 'x-chain-id: 1001' \\\n  --header 'Content-Type: application/json'\n```      \n",
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basic": []
    }
  ]
}