<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>

<body>

<td>
    <input type="button" onclick="location.href='/home/blood';" value="헌혈견 정보입력"></body>
</td>
<td>
    <input type="button" onclick="location.href='/qr/transfusion';" value="수혈견 정보입력"></body>
</td>
<td>
    <input type="button" onclick="location.href='/qr/list';" value="조회"></body>
</td>

</body>
</html>