<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header_content :: header_content" />
<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>

<!--navbar-->
<div th:replace="fragments/navbar_content :: navbar_content"/>
<!--navbar end-->

<body>
<div class="wrapper">
    <div class="title-text">
        <div class="title login">
            IDEA
        </div>
        <div class="title signup">
            LOGIN
        </div>
    </div>
    <div class="form-container">
        <div class="slide-controls2">
            <input type="radio" name="slide" id="login" checked>
            <input type="radio" name="slide" id="signup">
            <label for="login" class="slide login">일반</label>
            <label for="signup" class="slide signup">병원</label>
            <div class="slider-tab"></div>
        </div>
        <div class="form-inner">
            <form action="/user/loginProcess" method="post" class="login">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />

<!--                일반사용자-->
                <div class="field">
                    <input type="text" id="userId" class="form-control" name="userId" placeholder="아이디" >
                </div>
                <div class="field">
                    <input type="password" for="pw" class="form-control" name="pw"placeholder="비밀번호" >
                </div>
                <div class="pass-link">
                    <a href="#">비밀번호를 잊으셨나요?</a>
                </div>
                <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="로그인">
                </div>
                <div class="signup-link">
                    아직 회원이 아니신가요? <a href="/user/register">회원가입</a>
                </div>
            </form>


<!--              병원사용자-->
            <form action="/user/loginProcess" method="post" class="login">
                <div class="field">
                    <input type="text" placeholder="아이디" required>
                </div>
                <div class="field">
                    <input type="password" placeholder="비밀번호" required>
                </div>
                <div class="pass-link">
                    <a href="#">비밀번호를 잊으셨나요?</a>
                </div>
                <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="로그인">
                </div>
                <div class="signup-link">
                    아직 회원이 아니신가요? <a href="/user/register">회원가입</a>
                </div>

            </form>
        </div>
  </div>
</div>



<!--코드 추가-->
<form action="/user/register_kakao" method="get">
    <div>
        <div>아이디</div>
        <input  type="text" id="userId" name="userId" readonly>
    </div>
    <div>
        <div>이 름</div>
        <input  type="text" id="kakaoName" name="kakaoName" readonly>
    </div>
    <div>
        <input  type="submit" >
    </div>
</form>


<div>
    <ul>
        <li onclick="sendToGuide();">
            <a href="javascript:void(0)">
                <span>카카오 보내기</span>
            </a>
        </li>


        <li onclick="kakaoLogin();">
            <a href="javascript:void(0)">
                <span>카카오 로그인</span>
            </a>
        </li>
        <li onclick="kakaoLogout();">
            <a href="javascript:void(0)">
                <span>카카오 로그아웃</span>
            </a>
        </li>
    </ul>
</div>
<script>
    const loginText = document.querySelector(".title-text .login");
    const loginForm = document.querySelector("form.login");
    const loginBtn = document.querySelector("label.login");
    const signupBtn = document.querySelector("label.signup");
    // const signupLink = document.querySelector("form .signup-link a");
    signupBtn.onclick = (()=>{
        loginForm.style.marginLeft = "-50%";
        loginText.style.marginLeft = "-50%";
    });
    loginBtn.onclick = (()=>{
        loginForm.style.marginLeft = "0%";
        loginText.style.marginLeft = "0%";
    });
    signupLink.onclick = (()=>{
        signupBtn.click();
        return false;
    });
</script>
</body>
<!--footer -->
<div th:replace="fragments/footer_content :: footer_content" />
<!--footer-end -->


</html>


<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script>
    Kakao.init('fcbac05f33f0c412744d496da6d59d87'); //발급받은 키 중 javascript키를 사용해준다.
    console.log(Kakao.isInitialized()); // sdk초기화여부판단
    //카카오로그인
    function kakaoLogin() {
        Kakao.Auth.login({
            success: function (response) {
                Kakao.API.request({
                    url: '/v2/user/me',
                    success: function (response) {
                        //console.log(response)
                        id = response.kakao_account.email;
                        name = response.properties.nickname;
                        document.getElementById('userId').value = id;
                        document.getElementById('userId1').value = id;
                        document.getElementById('kakaoName').value = name;
                        // window.location.href = 'http://www.abc.com/';
                    },
                    fail: function (error) {
                        console.log(error)
                    },
                })
            },
            fail: function (error) {
                console.log(error)
            },
        })
    }
    //카카오로그아웃
    function kakaoLogout() {
        if (Kakao.Auth.getAccessToken()) {
            Kakao.API.request({
                url: '/v1/user/unlink',
                success: function (response) {
                    console.log(response)
                },
                fail: function (error) {
                    console.log(error)
                },
            })
            Kakao.Auth.setAccessToken(undefined)
        }
    }


    function sendToGuide() {
        Kakao.Auth.login({
            //scope: 'PROFILE,TALK_MESSAGE',
            success: function() {
                Kakao.API.request({
                    url: '/v2/api/talk/memo/default/send',
                    data: {
                        template_object: {
                            object_type: 'feed',
                            content: {
                                title: '카카오톡 링크 4.0',
                                description: '디폴트 템플릿 FEED',
                                image_url:
                                    '‪C:\\qrtest\\animals\\47qrcode.png',
                                link: {
                                    web_url: 'https://developers.kakao.com',
                                    mobile_web_url: 'https://developers.kakao.com',
                                },
                            },
                            item_content: {
                                profile_text: 'Kakao',
                                profile_image_url: 'http://mud-kage.kakao.co.kr/dn/Q2iNx/btqgeRgV54P/VLdBs9cvyn8BJXB3o7N8UK/kakaolink40_original.png',
                                title_image_url: 'http://mud-kage.kakao.co.kr/dn/Q2iNx/btqgeRgV54P/VLdBs9cvyn8BJXB3o7N8UK/kakaolink40_original.png',
                                title_image_text: 'Cheese cake',
                                title_image_category: 'Cake',
                                items: [
                                    {
                                        item: 'Cake1',
                                        item_op: '1000원',
                                    },
                                    {
                                        item: 'Cake2',
                                        item_op: '2000원',
                                    },
                                    {
                                        item: 'Cake3',
                                        item_op: '3000원',
                                    },
                                    {
                                        item: 'Cake4',
                                        item_op: '4000원',
                                    },
                                    {
                                        item: 'Cake5',
                                        item_op: '5000원',
                                    },
                                ],
                                sum: 'Total',
                                sum_op: '15000원',
                            },
                            social: {
                                like_count: 100,
                                comment_count: 200,
                            },
                            button_title: '바로 확인',
                        },
                    },
                    success: function(response) {
                        console.log(response);
                    },
                    fail: function(error) {
                        console.log(error);
                    },
                })
            },
            fail: function(err) {
                alert('failed to login: ' + JSON.stringify(err))
            },
        })
    }

</script>

