<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header_content :: header_content" />
<link rel="stylesheet" th:href="@{/css/style_form.css}">


<!--navbar-->
<div th:replace="fragments/navbar_content :: navbar_content"/>
<!--navbar end-->

<body>
<div class="wrapper">
    <div class="title-text">
        <div class="title login">
            IDEA
        </div>
        <div class="title signup">
            LOGIN
        </div>
    </div>
    <div class="form-container">
        <div class="slide-controls2">
            <input type="radio" style="display: none" name="slide" id="login" checked>
            <input type="radio" style="display: none" name="slide" id="signup">
            <label for="login" class="slide login">일반</label>
            <label for="signup" class="slide signup">병원</label>
            <div class="slider-tab"></div>
        </div>
        <div class="form-inner">
            <form action="/user/loginProcess" method="post" class="login" autocomplete="off">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />

                <!-- 일반사용자-->
                <div class="field">
                    <input type="text" id="userId" class="form-control" name="userId" placeholder="아이디" >
                </div>
                <div class="field">
                    <input type="password" for="pw" class="form-control" name="pw"placeholder="비밀번호" >
                </div>

                <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="로그인">
                </div>
                <div class ="Kakao" >
                    <button class="kakaobtn" type="button" onclick="kakaoLogin();" style="border:none; cursor:pointer;">
                        <img class="kakaoimg" src="/img/kakaologin2.png" style="width:auto;">
                    </button>
                </div>
<!--                <div class="signup-link">-->
<!--                    <a href="#">비밀번호를 잊으셨나요?</a>-->
<!--                </div>-->
                <div class="signup-link">
                    아직 회원이 아니신가요? <a href="/user/register">회원가입</a>
                </div>

            </form>


            <!-- 병원사용자-->
            <form action="/user/loginProcess" method="post" class="login" autocomplete="off">
                <div class="field">
                    <input type="text" placeholder="아이디" required>
                </div>
                <div class="field">
                    <input type="password" placeholder="비밀번호" required>
                </div>
<!--                <div class="pass-link">-->
<!--                    <a href="#">비밀번호를 잊으셨나요?</a>-->
<!--                </div>-->
                <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="로그인">
                </div>
                <div class="signup-link">
                    아직 회원이 아니신가요? <a href="/user/register">회원가입</a>
                </div>

            </form>
        </div>
    </div>
</div>






<script>
    const loginText = document.querySelector(".title-text .login");
    const loginForm = document.querySelector("form.login");
    const loginBtn = document.querySelector("label.login");
    const signupBtn = document.querySelector("label.signup");
    // const signupLink = document.querySelector("form .signup-link a");
    signupBtn.onclick = (()=>{
        loginForm.style.marginLeft = "-50%";
        loginText.style.marginLeft = "-50%";
    });
    loginBtn.onclick = (()=>{
        loginForm.style.marginLeft = "0%";
        loginText.style.marginLeft = "0%";
    });

</script>
</body>
<!--footer -->
<div th:replace="fragments/footer_content :: footer_content" />
<!--footer-end -->





<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script>
    Kakao.init('fcbac05f33f0c412744d496da6d59d87'); //발급받은 키 중 javascript키를 사용해준다.
    console.log(Kakao.isInitialized()); // sdk초기화여부판단
    //카카오로그인
    function kakaoLogin() {
        Kakao.Auth.login({
            success: function (response) {
                Kakao.API.request({
                    url: '/v2/user/me',
                    success: function (response) {
                        //console.log(response)
                        id = response.kakao_account.email;
                        name = response.properties.nickname;


                        window.location.href='http://localhost:8080/user/register_kakao?userId='+id+'&kakaoName='+name;

                    },
                    fail: function (error) {
                        console.log(error)
                    },
                })
            },
            fail: function (error) {
                console.log(error)
            },
        })
    }
    //카카오로그아웃
    function kakaoLogout() {
        if (Kakao.Auth.getAccessToken()) {
            Kakao.API.request({
                url: '/v1/user/unlink',
                success: function (response) {
                    console.log(response)
                },
                fail: function (error) {
                    console.log(error)
                },
            })
            Kakao.Auth.setAccessToken(undefined)
        }
    }


</script>

<!-- Bootstrap -->
<script src="/js/bootstrap.min.js"></script>

</html>

