<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header_content :: header_content" />
<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>

<!--navbar-->
<div th:replace="fragments/navbar_content :: navbar_content"/>
<!--navbar end-->








<body>
<div class="wrapper">
    <div class="title-text">
        <div class="title login">
            IDEA
        </div>
        <div class="title signup">
            LOGIN
        </div>
    </div>
    <div class="form-container">
        <div class="slide-controls2">
            <input type="radio" name="slide" id="login" checked>
            <input type="radio" name="slide" id="signup">
            <label for="login" class="slide login">일반</label>
            <label for="signup" class="slide signup">병원</label>
            <div class="slider-tab"></div>
        </div>
        <div class="form-inner">
            <form th:action="@{/user/loginProcess}" method="post" class="login">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                <div class="field">
                    <input type="text" th:for="userId" class="form-control" name="userId" placeholder="아이디" required>
                </div>
                <div class="field">
                    <input type="password" th:for="pw" class="form-control" name="pw"placeholder="비밀번호" required>
                </div>
                <div class="pass-link">
                    <a href="#">비밀번호를 잊으셨나요?</a>
                </div>
                <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="로그인">
                </div>
                <div class="signup-link">
                    아직 회원이 아니신가요? <a href="/user/register">회원가입</a>
                </div>

            </form>
            <form action="#" class="signup">
                <div class="field">
                    <input type="text" placeholder="아이디" required>
                </div>
                <div class="field">
                    <input type="password" placeholder="비밀번호" required>
                </div>
                <div class="pass-link">
                    <a href="#">비밀번호를 잊으셨나요?</a>
                </div>
                <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="로그인">
                </div>
                <div class="signup-link">
                    아직 회원이 아니신가요? <a href="/user/register">회원가입</a>
                </div>

            </form>
        </div>
    </div>
</div>
<script>
    const loginText = document.querySelector(".title-text .login");
    const loginForm = document.querySelector("form.login");
    const loginBtn = document.querySelector("label.login");
    const signupBtn = document.querySelector("label.signup");
    // const signupLink = document.querySelector("form .signup-link a");
    signupBtn.onclick = (()=>{
        loginForm.style.marginLeft = "-50%";
        loginText.style.marginLeft = "-50%";
    });
    loginBtn.onclick = (()=>{
        loginForm.style.marginLeft = "0%";
        loginText.style.marginLeft = "0%";
    });
    signupLink.onclick = (()=>{
        signupBtn.click();
        return false;
    });
</script>
</body>
<!--footer -->
<div th:replace="fragments/footer_content :: footer_content" />
<!--footer-end -->


</html>


<!--<ul>-->
<!--    <li onclick="kakaoLogin();">-->
<!--        <a href="javascript:void(0)">-->
<!--            <span>카카오 로그인</span>-->
<!--        </a>-->
<!--    </li>-->
<!--    <li onclick="kakaoLogout();">-->
<!--        <a href="javascript:void(0)">-->
<!--            <span>카카오 로그아웃</span>-->
<!--        </a>-->
<!--    </li>-->
<!--</ul>-->
<!--&lt;!&ndash; 카카오 스크립트 &ndash;&gt;-->
<!--<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>-->
<!--<script>-->
<!--    Kakao.init('d1a6cacadaec20832158d15aa9ad1c41'); //발급받은 키 중 javascript키를 사용해준다.-->
<!--    console.log(Kakao.isInitialized()); // sdk초기화여부판단-->
<!--    //카카오로그인-->
<!--    function kakaoLogin() {-->
<!--        Kakao.Auth.login({-->
<!--            success: function (response) {-->
<!--                Kakao.API.request({-->
<!--                    url: '/v2/user/me',-->
<!--                    success: function (response) {-->
<!--                        console.log(response)-->
<!--                    },-->
<!--                    fail: function (error) {-->
<!--                        console.log(error)-->
<!--                    },-->
<!--                })-->
<!--            },-->
<!--            fail: function (error) {-->
<!--                console.log(error)-->
<!--            },-->
<!--        })-->
<!--    }-->
<!--    //카카오로그아웃-->
<!--    function kakaoLogout() {-->
<!--        if (Kakao.Auth.getAccessToken()) {-->
<!--            Kakao.API.request({-->
<!--                url: '/v1/user/unlink',-->
<!--                success: function (response) {-->
<!--                    console.log(response)-->
<!--                },-->
<!--                fail: function (error) {-->
<!--                    console.log(error)-->
<!--                },-->
<!--            })-->
<!--            Kakao.Auth.setAccessToken(undefined)-->
<!--        }-->
<!--    }-->
<!--</script>-->

<!--<html xmlns:th="https://www.thymeleaf.org">-->
<!--<head >-->
<!--    <title>Please Login</title>-->
<!--</head>-->
<!--<body>-->
<!--<div th:fragment="content">-->
<!--    <form name="f" th:action="@{/user/login}" method="post">-->
<!--        <fieldset>-->
<!--            <legend>Please Login</legend>-->
<!--            <div th:if="${param.error}" class="alert alert-error">-->
<!--                Invalid username and password.-->
<!--            </div>-->
<!--            <div th:if="${param.logout}" class="alert alert-success">-->
<!--                You have been logged out.-->
<!--            </div>-->
<!--            <label for="username">Username</label>-->
<!--            <input type="text" id="username" name="userId"/>-->
<!--            <label for="password">Password</label>-->
<!--            <input type="password" id="password" name="pw"/>-->
<!--            <div class="form-actions">-->
<!--                <button type="submit" class="btn">로그인</button>-->
<!--            </div>-->
<!--        </fieldset>-->
<!--    </form>-->
<!--</div>-->
<!--</body>-->


<!--</html>-->