<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/header_content :: header_content" />
<!--navbar-->
<div th:replace="fragments/navbar_content :: navbar_content"/>
<!--navbar end-->

<body>
<h1>마이페이지입니다</h1>

<div>
    <ul>
        <button onclick="sendToGuide();">
            <a href="javascript:void(0)">
                <span>나한테 메세지 보내기</span>
            </a>
        </button>
        <li><a th:href="@{/user/delete}">회원탈퇴</a></li>

    </ul>
</div>
</body>

<!--footer -->
<div th:replace="fragments/footer_content :: footer_content" />
<!--footer-end -->
</html>






<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script>
    Kakao.init('fcbac05f33f0c412744d496da6d59d87'); //발급받은 키 중 javascript키를 사용해준다.
    console.log(Kakao.isInitialized()); // sdk초기화여부판단

    //나에게 메세지 보내기
    function sendToGuide() {
        Kakao.Auth.login({
            //scope: 'PROFILE,TALK_MESSAGE',
            success: function() {
                Kakao.API.request({
                    url: '/v2/api/talk/memo/default/send',
                    data: {
                        template_object: {
                            object_type: 'feed',
                            content: {
                                title: 'IDEA',
                                description: 'IDEA와 함께 슬기로운 반려문화에 동참하세요',
                                image_url:
                                    'http://localhost:8080/img/logo2_170x60.png',
                                link: {
                                    web_url: 'http://localhost:8080/home',
                                    mobile_web_url: 'http://localhost:8080/home',
                                },
                            },
                            item_content: {
                                profile_text: '연이',
                                profile_image_url: 'http://mud-kage.kakao.co.kr/dn/Q2iNx/btqgeRgV54P/VLdBs9cvyn8BJXB3o7N8UK/kakaolink40_original.png',
                                title_image_url: 'http://mud-kage.kakao.co.kr/dn/Q2iNx/btqgeRgV54P/VLdBs9cvyn8BJXB3o7N8UK/kakaolink40_original.png',
                                title_image_text: 'IDEA등록정보',
                                title_image_category: '동물등록정보',
                                items: [
                                    {
                                        item: '이름',
                                        item_op: '연이',
                                    },
                                    {
                                        item: '몸무게',
                                        item_op: '3.3kg',
                                    },
                                    {
                                        item: '견종',
                                        item_op: '토이푸들',
                                    },
                                    {
                                        item: '모색',
                                        item_op: '검정',
                                    },
                                    {
                                        item: '성별',
                                        item_op: '암컷',
                                    },
                                    {
                                        item: '출생년도',
                                        item_op: '2015',
                                    },
                                    {
                                        item: '중성화',
                                        item_op: 'Y',
                                    }
                                ],
                                sum: '동물등록번호',
                                sum_op: '410160020250774',
                            },
                            social: {
                                like_count: 100,
                                comment_count: 200,
                            },
                            button_title: '바로 확인',
                        },
                    },
                    success: function(response) {
                        console.log(response);

                    },
                    fail: function(error) {
                        console.log(error);
                    },
                })
            },
            fail: function(err) {
                alert('failed to login: ' + JSON.stringify(err))
            },
        })
    }

</script>
<!-- jQuery -->
<!--<script src="js/jquery.min.js"></script>-->

<!-- Bootstrap -->
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
