<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>IDEA</title>
    <link rel="stylesheet" href="/css/style_login_signup.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <link rel="shortcut icon" th:href="@{/img/favicon-32x32.png}">
    <link rel="apple-touch-icon" sizes="57x57" th:href="@{/img/apple-icon-57x57.png}">
    <link rel="apple-touch-icon" sizes="72x72" th:href="@{/img/apple-icon-72x72.png}">
    <link rel="apple-touch-icon" sizes="114x114" th:href="@{/img/apple-icon-114x114.png}">

</head>
<body>
<div class="wrapper">
    <div class="title-text">
        <div class="title login">
            IDEA
        </div>
        <div class="title signup">
            SIGN UP
        </div>
    </div>
    <div class="form-container">
        <div class="slide-controls">
            <input type="radio" name="slide" id="login" checked>
            <input type="radio" name="slide" id="signup">
            <label for="login" class="slide login">일 반</label>
            <label for="signup" class="slide signup">병 원</label>
            <div class="slider-tab"></div>
        </div>
        <div class="form-inner">
            <form th:action="@{/user/register}" th:object="${userForm}" method="post" class="login" autocomplete="off">
<!--                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />-->
                <div class="field">
                    <input type="text"th:for="userId" th:field="*{userId}" class="form-control"placeholder="아이디" required>
                </div>
                <div class="field">
                    <input type="password"th:for="pw" th:field="*{pw}" class="form-control" placeholder="비밀번호" required>
                </div>
                <div class="field">
                    <input type="text"th:for="name" th:field="*{name}" class="form-control" placeholder="이름">
                </div>
                <div class="field">
                    <input type="text" th:for="address" th:field="*{address}" class="form-control" placeholder="주소" >
                </div>
                <div class="field">
                    <input type="text"th:for="phone" th:field="*{phone}" class="form-control" placeholder="전화번호" required>
                </div>

                <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="회원가입">
                </div>
                <div class="signup-link">
                    이미 회원이신가요? <a href="/user/login">로그인</a>
                </div>
                <div class="signup-link">
                    둘러보기 <a href="/home">IDEA</a>
                </div>
            </form>
            <form th:action="@{/user/register}" th:object="${userForm}" method="post" class="" autocomplete="off">
                <!--                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />-->
                <div class="field">
                    <input type="text"th:for="userId" th:field="*{userId}" class="form-control"placeholder="아이디" required>
                </div>
                <div class="field">
                    <input type="password"th:for="pw" th:field="*{pw}" class="form-control" placeholder="비밀번호" required>
                </div>
                <div class="field">
                    <input type="text"th:for="name" th:field="*{name}" class="form-control" placeholder="이름">
                </div>
                <div class="field">
                    <input type="text" th:for="address" th:field="*{address}" class="form-control" placeholder="주소" >
                </div>
                <div class="field">
                    <input type="text"th:for="phone" th:field="*{phone}" class="form-control" placeholder="전화번호" required>
                </div>

                <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="회원가입">
                </div>
                <div class="signup-link">
                    이미 회원이신가요? <a href="/user/login">로그인</a>
                </div>
                <div class="signup-link">
                    둘러보기 <a href="/home">IDEA</a>
                </div>
            </form>

        </div>
    </div>
</div>
<script>
    const loginText = document.querySelector(".title-text .login");
    const loginForm = document.querySelector("form.login");
    const loginBtn = document.querySelector("label.login");
    const signupBtn = document.querySelector("label.signup");
    // const signupLink = document.querySelector("form .signup-link a");
    signupBtn.onclick = (()=>{
        loginForm.style.marginLeft = "-50%";
        loginText.style.marginLeft = "-50%";
    });
    loginBtn.onclick = (()=>{
        loginForm.style.marginLeft = "0%";
        loginText.style.marginLeft = "0%";
    });
    // signupLink.onclick = (()=>{
    //     signupBtn.click();
    //     return false;
    // });
</script>
</body>
</html>


