<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="footer" th:fragment="footer">
  <footer class="site-footer">
    <div class="container">
      <small class="copyright pull-left">
        서울 금천구 가산디지털1로 168, IDEA
        <br>Copyrights © 2021 All Rights Reserved By IDEA
            </small>

      <div class="social-icon pull-right">
        <a th:href="@{#}"><i class="fa fa-facebook"></i></a>
        <a th:href="@{#}"><i class="fa fa-twitter"></i></a>
        <a th:href="@{#}"><i class="fa fa-pinterest"></i></a>
        <a th:href="@{#}"><i class="fa fa-google"></i></a>
        <a th:href="@{#}"><i class="fa fa-rss"></i></a>
        <a th:href="@{#}"><i class="fa fa-globe"></i></a>
      </div>
      <!-- /social-icon -->

      <!-- Back to top -->
      <a href="#" id="back-to-top" title="Back to top"><i class="fa fa-angle-up"></i></a>
      <!-- /Back to top -->
    </div>
    <!-- /container -->

  </footer>
</div>