<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="footer" th:fragment="footer_content">
  <footer class="site-footer">
    <div class="container">
      <small class="copyright pull-left">
        서울 금천구 가산디지털1로 168, IDEA
        <br>Copyrights © 2021 All Rights Reserved By IDEA
      </small>
      <div class="social-icon pull-right">
        <a th:href="@{#}"><i class="fa fa-facebook"></i></a>
        <a th:href="@{#}"><i class="fa fa-twitter"></i></a>
        <a th:href="@{#}"><i class="fa fa-pinterest"></i></a>
        <a th:href="@{#}"><i class="fa fa-google"></i></a>
        <a th:href="@{#}"><i class="fa fa-rss"></i></a>
        <a th:href="@{#}"><i class="fa fa-globe"></i></a>
      </div>
      <!-- /social-icon -->

      <!-- Back to top -->
      <a href="#" id="back-to-top" title="Back to top"><i class="fa fa-angle-up"></i></a>
      <!-- /Back to top -->
    </div>
    <!-- /container -->

  </footer>

  <!-- jQuery -->
  <script src="js/jquery.min.js"></script>

  <!-- Bootstrap -->
  <script src="bootstrap/js/bootstrap.min.js"></script>

  <!-- Components Plugin -->
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/smooth-scroll.js"></script>
  <script src="js/jquery.appear.js"></script>
  <script src="js/jquery.countTo.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/imagesloaded.pkgd.min.js"></script>
  <script src="js/isotope.pkgd.min.js"></script>
  <script src="js/jquery.mb.YTPlayer.js"></script>
  <script src="js/retina.min.js"></script>
  <script src="js/wow.min.js"></script>
  <script src="inc/owlcarousel/js/owl.carousel.min.js"></script>

  <!-- Contact Form -->
  <script src="js/contact.js"></script>

  <!-- Custom Plugin -->
  <script src="js/custom.js"></script>
</div>