<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5 ">

<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>
<div class="header" th:fragment="navbar_scroll">
  <header class="nav-solid" id="home">

    <nav class="navbar navbar-fixed-top">
      <div class="navigation">
        <div class="container-fluid">
          <div class="row">

            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

              <!-- Logo -->
              <div class="logo-container">
                <div class="logo-wrap local-scroll">
                  <a href="/home">
                    <img class="logo" th:src="@{/img/log_100x50.png}" alt="logo" data-rjs="2">
                  </a>
                </div>
              </div>
            </div> <!-- end navbar-header -->

            <div class="col-md-8 col-xs-12 nav-wrap">
              <div class="collapse navbar-collapse" id="navbar-collapse">

                <ul class="nav navbar-nav navbar-right">
                  <li><a data-scroll href="#home">Home</a></li>
                  <li><a data-scroll href="#about">About</a></li>
                  <li><a data-scroll href="#news_camp">소식&캠페인</a>
                  <li><a data-scroll href="#service">서비스</a></li>
                  <li><a data-scroll href="#promotion">홍보관</a></li>
                  <li><a data-scroll href="#blog">커뮤니티</a></li>
                  <li><a data-scroll href="#contact">contact</a></li>
                  <li><a sec:authorize="isAnonymous()" th:href="@{/user/register}">회원가입</a></li>
                  <li><a sec:authorize="isAnonymous()" th:href="@{/login}">로그인</a></li>
                  <!--<li><a sec:authorize="isAuthenticated()" onclick="kakaoLogout();" th:href="@{/logout}" >로그아웃</a></li>-->
                  <li><a sec:authorize="isAuthenticated()"   onclick="kakaoLogout();return false;" th:href="@{/logout}" >로그아웃</a></li>
                  <li><a sec:authorize="hasRole('USER')" th:href="@{/user/info}">마이페이지</a></li>
                  <li><a sec:authorize="hasRole('HOS')" th:href="@{/user/admin}">관리페이지</a></li>
<!--                  <li><a sec:authorize="isAuthenticated()" th:href="@{/user/delete}">회원탈퇴</a></li>-->
                </ul>
              </div>
            </div> <!-- /.col -->
          </div> <!-- /.row -->
        </div> <!--/.container -->
        <div class="box3">
          <ul class="menu1">
            <li><a sec:authorize="isAuthenticated()" th:href="@{/ani/new}">등 록</a></li>
            <li><a th:href="@{/vc/new}">백 신</a>
              <ul class="submenu">
                <li><a href="/bNumber/new/donation">백신 정보 등록</a></li>
                <li><a href="/bNumber/new/transfusion">백신 정보 조회</a></li>
                <li><a href="/home/bloodList">백신 정보 수정</a></li>
              </ul></li>
            <li><a th:href="@{/donation/new/}">헌 혈</a>
              <ul class="submenu">
                <li><a href="/bNumber/new/donation">헌혈견 정보 등록</a></li>
                <li><a href="/bNumber/new/transfusion">헌혈견 정보 조회</a></li>
                <li><a href="/home/bloodList">헌혈견 정보 수정</a></li>
              </ul></li>
            <li><a th:href="@{/transfusion/new}">수 혈</a>
              <ul class="submenu">
                <li><a href="/bNumber/new/donation">수혈견 정보 등록</a></li>
                <li><a href="/bNumber/new/transfusion">수혈견 정보 조회</a></li>
                <li><a href="/home/bloodList">수혈견 정보 수정</a></li>
              </ul>
            </li>
            <li class="blood"><a sec:authorize="hasRole('HOS')" >혈 액</a>
            <ul class="submenu">
              <li><a href="/bNumber/new/donation">헌혈견 정보 등록</a></li>
              <li><a href="/bNumber/new/transfusion">수혈견 정보 등록</a></li>
              <li><a href="/home/bloodList">혈액 관리 & 조회</a></li>
            </ul>
            </li>
          </ul>
        </div>

      </div> <!-- /.navigation-overlay -->

    </nav> <!-- /.navbar -->



  </header>
</div>
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script>
  Kakao.init('fcbac05f33f0c412744d496da6d59d87'); //발급받은 키 중 javascript키를 사용해준다.
  console.log(Kakao.isInitialized()); // sdk초기화여부판단
  //카카오로그인
  function kakaoLogin() {
    Kakao.Auth.login({
      success: function (response) {
        Kakao.API.request({
          url: '/v2/user/me',
          success: function (response) {
            //console.log(response)
            id = response.kakao_account.email;
            name = response.properties.nickname;
            document.getElementById('userId').value = id;
            document.getElementById('kakaoName').value = name;
            // window.location.href = 'http://www.abc.com/';
          },
          fail: function (error) {
            console.log(error)
          },
        })
      },
      fail: function (error) {
        console.log(error)
      },
    })
  }

</script>