<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>
<!--navbar-->
<div th:replace="fragments/navbar_content :: navbar_content"/>
<!--navbar end-->


<body>

<div class="container">


    <form role="form" action="/donation/new" th:object="${donationForm}" method="post">


        <div class="form-group">
            <label for="register">강아지</label>
            <select name="registerIdx" id="register" class="form-control"  th:onchange="changeValues()" >
                <option value="">강아지선택</option>
                <option th:each="register : ${registers}"
                        th:value="|${register.registerIdx},${register.aniId},${register.kind},${register.neutralization}|"
                        th:text="${register.aniName}"
                />
            </select>
        </div>


        <div class="form-group">
            <label th:for="register">동물등록번호</label>
            <input th:id="regidx"  type="text" th:field="*{register.aniId}" class="form-control" readonly>
        </div>


        <div class="form-group">
            <label th:for="DWeight">헌혈당시 몸무게</label>
            <input type="text" th:field="*{DWeight}" class="form-control"
                   placeholder="몸무게를 입력하세요".>
        </div>
        <div class="form-group">
            <label th:for="kind">견종</label>
            <input th:id="kind" type="text" th:field="*{kind}" class="form-control"
                   readonly>
        </div>
        <div class="form-group">
            <label th:for="DDate">헌혈일시</label>
            <input id="DDate" type="text" th:field="*{DDate}" class="form-control"
                   placeholder="헌혈일시를 입력하세요" autocomplete="off">
        </div>
        <div class="form-group">
            <label th:for="DHos">헌혈병원</label>
            <input type="text" th:field="*{DHos}" class="form-control"
                   placeholder="헌혈병원을 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="type">혈액형</label>
            <input type="text" th:field="*{type}" class="form-control"
                   placeholder="혈액형을 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="DPack">혈액양</label>
            <input type="text" th:field="*{DPack}" class="form-control"
                   placeholder="혈액양을 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="neutralization">중성화 여부</label>
            <input th:id="neutralization" type="text" th:field="*{neutralization}" class="form-control"
                   placeholder="중성화여부를 입력하세요" readonly>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>

</body>
<!--footer -->
<div th:replace="fragments/footer :: footer" />
<!--footer-end -->

<script th:inline="javascript">



    function changeValues() {


        //select된 값 가져오면서 , 기준 파싱
        let selectOption = document.getElementById("register").value.split(",");

        //변수 선언
        let aniId,kind,neutralization;

        //각각 파싱된 변수들 저장
        for (let idx=0; idx <  4; idx++){
            let value = selectOption [idx];
            if(idx == 1){
                aniId= value;
            }else if(idx == 2){
                kind= value;
            }else if(idx==3){
                neutralization= value;
            }
        }


        //input id값으로 저장된 값 설정 및 뿌려주기
        document.getElementById('regidx').value = aniId;
        document.getElementById('kind').value = kind;
        document.getElementById('neutralization').value = neutralization;

    }



</script>
<script type="text/javascript">
    $(document).ready(function () {
        $.datepicker.regional['ko'] = {
            closeText: '닫기',
            prevText: '이전달',
            nextText: '다음달',
            currentText: '오늘',
            monthNames: ['1월(JAN)','2월(FEB)','3월(MAR)','4월(APR)','5월(MAY)','6월(JUN)',
                '7월(JUL)','8월(AUG)','9월(SEP)','10월(OCT)','11월(NOV)','12월(DEC)'],
            monthNamesShort: ['1월','2월','3월','4월','5월','6월',
                '7월','8월','9월','10월','11월','12월'],
            dayNames: ['일','월','화','수','목','금','토'],
            dayNamesShort: ['일','월','화','수','목','금','토'],
            dayNamesMin: ['일','월','화','수','목','금','토'],
            weekHeader: 'Wk',
            dateFormat: 'yy-mm-dd',
            firstDay: 0,
            isRTL: false,
            showMonthAfterYear: true,
            yearSuffix: '',
            buttonText: "달력",
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            yearRange: 'c-99:c+99',
        };
        $.datepicker.setDefaults($.datepicker.regional['ko']);

        $('#DDate').datepicker();
        $('#DDate').datepicker("option", "maxDate", $("#DDate").val());


    });
</script>

</html>