<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header_content :: header_content" />
<link rel="stylesheet" th:href="@{/css/style_form.css}">
<!--navbar-->
<div th:replace="fragments/navbar_content :: navbar_content"/>
<!--navbar end-->

<body>
<div class="container">

    <div>
        <table class="table table-striped" action="/donation/detail" th:object="${donation}" method="GET">
            <thead>
            <tr>
                <th>헌혈번호</th>
                <th>동물등록번호</th>
                <th>동물이름</th>
                <th>출생년도</th>
                <th>성별</th>
                <th>헌혈당시 몸무게</th>
                <th>견종</th>
                <th>혈액형</th>
                <th>중성화여부</th>
                <th>헌혈병원</th>
                <th>혈액양</th>
                <th>헌혈일시</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="*{donationIdx}"></td>
                <td th:text="*{register.aniId}"></td>
                <td th:text="*{register.aniName}"></td>
                <td th:text="*{register.birth}"></td>
                <td th:text="*{register.gender}"></td>
                <td th:text="*{DWeight}"></td>
                <td th:text="*{kind}"></td>
                <td th:text="*{type}"></td>
                <td th:text="*{neutralization}"></td>
                <td th:text="*{DHos}"></td>
                <td th:text="*{DPack}"></td>
                <td th:text="*{DDate}"></td>




                <td>
                    <a href="#" th:href="@{/donation/{idx}/update (idx=${donationIdx})}"
                       class="btn btn-primary" role="button">수정</a>
                </td>
                <td class="">
                    <form action="/donation/delete" method="post">
                        <input type="submit" id="donationIdx" name="donationIdx" class="form-control" th:value="*{donationIdx}" th:text="삭제">

                    </form>
                </td>
                <td>
                    <a href="/donation/list"
                       class="btn btn-primary" role="button">돌아가기</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div> <!-- /container -->
</body>
<!--footer -->
<div th:replace="fragments/footer_content :: footer_content" />
<!--footer-end -->

<!-- Bootstrap -->
<script src="/static/bootstrap/js/bootstrap.min.js"></script>


</html>