<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header_content :: header_content" />
<head>
    <title>Carousel 03</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css">

    <link rel="stylesheet" href="/css/style2.css">


</head>
<link rel="stylesheet" th:href="@{/css/style_form.css}">
<!--navbar-->
<div th:replace="fragments/navbar_content :: navbar_content"/>
<!--navbar end-->


<body>
<section class="ftco-section" >
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div >
                    <div class="item" style="float: left; margin-right: 30px; width:300px" th:each="donation : ${dos}" >
                        <div class="work">
                                <div class="img d-flex align-items-end justify-content-center" th:style="'background-image:url('+${donation.aniImg}+');'">
                                <div class="text w-100">
                                    <span class="cat" th:text="*{donation.hash}" >해시값 들어가는 곳</span>
                                    <a href="#" th:href="@{https://baobab.scope.klaytn.com/tx/{hash} (hash=${donation.hash})}"
                                       class="btn btn-primary" role="button">NFT 조회</a>

                                    <span class="cat" th:text="*{donation.register.aniId}" >동물이름</span>
                                    <h3><a th:text="*{donation.register.aniName}">동물등록번호</a></h3>
                                    <a href="#" th:href="@{/donation/{idx}/detail (idx=${donation.donationIdx})}"
                                       class="btn btn-primary" role="button">자세히</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<tr>
    <td>
        <a href="/donation/new" class="btn btn-primary" role="button">추가</a>
    </td>
</tr>

</body>



<!--footer -->
<div th:replace="fragments/footer_content :: footer_content" />
<!--footer-end -->

<script src="/js/jquery.min2.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap2.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>


</html>