<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header_content :: header_content" />
<link rel="stylesheet" th:href="@{/css/style_form.css}">
<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>
<!--navbar-->
<div th:replace="fragments/navbar_content :: navbar_content"/>
<!--navbar end-->




<body>
<div class="container">
    <form th:object="${form}" method="post">
        <!-- id -->
        <input type="hidden" th:field="*{del}" />
        <input type="hidden" th:field="*{creater}" />
        <input type="hidden" th:field="*{CDate}" />
        <input type="hidden" th:field="*{hash}" />
        <div class="form-group">
            <label th:for="donationIdx">헌혈번호</label>
            <input type="text" th:field="*{donationIdx}" class="form-control"
                   readonly />
        </div>
        <div class="form-group">
            <label th:for="register.registerIdx">동물등록번호</label>
            <input type="text" th:field="*{register.registerIdx}" class="form-control"
                   readonly />
        </div>

        <div class="form-group">
            <label th:for="register.aniName">동물이름</label>
            <input type="text" th:field="*{register.aniName}" class="form-control"
                   readonly />
        </div>
        <div class="form-group">
            <label th:for="DWeight">헌혈당시 몸무게</label>
            <input type="text" th:field="*{DWeight}" class="form-control"
                   placeholder="몸무게를 입력하세요" />
        </div>
        <div class="form-group">
            <label th:for="kind">견종</label>
            <input type="text" th:field="*{kind}" class="form-control"
                   placeholder="견종을 입력하세요" />
        </div>
        <div class="form-group">
            <label th:for="DDate">헌혈일시</label>
            <input id="DDate" type="text" th:field="*{DDate}" class="form-control" placeholder="헌혈일시를 입력하세요" autocomplete="off" />
        </div>
        <div class="form-group">
            <label th:for="DHos">헌혈병원</label>
            <input type="text" th:field="*{DHos}" class="form-control"
                   placeholder="헌혈병원을 입력하세요" />
        </div>
        <div class="form-group">
            <label th:for="type">혈액형</label>
            <input type="text" th:field="*{type}" class="form-control"
                   placeholder="혈액형을 입력하세요" />
        </div>
        <div class="form-group">
            <label th:for="DPack">혈액양</label>
            <input type="text" th:field="*{DPack}" class="form-control"
                   placeholder="혈액양을 입력하세요" />
        </div>
        <div class="form-group">
            <label th:for="neutralization">중성화</label>
            <input type="text" th:field="*{neutralization}" class="form-control"
                   placeholder="중성화여부를 입력하세요" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div> <!-- /container -->
</body>

<!--footer -->
<div th:replace="fragments/footer_content :: footer_content" />
<!--footer-end -->
<!-- calendar -->
<script type="text/javascript">
    $(document).ready(function () {
        $.datepicker.regional['ko'] = {
            closeText: '닫기',
            prevText: '이전달',
            nextText: '다음달',
            currentText: '오늘',
            monthNames: ['1월(JAN)','2월(FEB)','3월(MAR)','4월(APR)','5월(MAY)','6월(JUN)',
                '7월(JUL)','8월(AUG)','9월(SEP)','10월(OCT)','11월(NOV)','12월(DEC)'],
            monthNamesShort: ['1월','2월','3월','4월','5월','6월',
                '7월','8월','9월','10월','11월','12월'],
            dayNames: ['일','월','화','수','목','금','토'],
            dayNamesShort: ['일','월','화','수','목','금','토'],
            dayNamesMin: ['일','월','화','수','목','금','토'],
            weekHeader: 'Wk',
            dateFormat: 'yy-mm-dd',
            firstDay: 0,
            isRTL: false,
            showMonthAfterYear: true,
            yearSuffix: '',
            buttonText: "달력",
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            yearRange: 'c-99:c+99',
        };
        $.datepicker.setDefaults($.datepicker.regional['ko']);

        $('#DDate').datepicker();
        $('#DDate').datepicker("option", "maxDate", $("#DDate").val());


    });
</script>

<!-- Bootstrap -->
<script src="/static/bootstrap/js/bootstrap.min.js"></script>

</html>