<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>
<!-- Main JS-->
<script src="/js/global.js"></script>
<head th:replace="fragments/header_content :: header_content" />
<!-- Bootstrap -->



<!-- Required meta tags-->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<!-- Font special for pages-->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
<!-- Main CSS-->
<link href="/css/main_form.css" rel="stylesheet" media="all">


<!--navbar-->
<div th:replace="fragments/navbar_content :: navbar_content"/>
<!--navbar end-->

<body>
<div class="page-wrapper bg-navy p-t-100 p-b-50">
    <div class="wrapper_form wrapper--w900">
        <div class="card_form card-6">
            <div class="card-heading">
                <h2 class="title_form">반려견 정보 등록</h2>
            </div>
            <div class="card-body">
                <form id="registerForm" th:action="@{/ani/new}" th:object="${registerForm}" method="post"  autocomplete="off">
                    <div class="form-row-do" >
                        <div class="name">번호조회</div>
                        <div class="value">
                            <input class="input--style-6" type="text" name="full_name" id="phone" th:id="phone" th:for="phone" th:field="*{user.phone}">
                            <input type="button" class="btn btn--radius-2 btn--blue-2" id="find" onclick="findByPhone()" value="조회" />

                        </div>
                    </div>


                    <div class="form-row-do" >
                        <div class="name">동물등록번호</div>
                        <div class="value">
                            <input class="input--style-6" type="text" name="full_name" id="aniId" th:id="aniId" th:for="aniId" th:field="*{aniId}"
                                   th:class="${#fields.hasErrors('aniId')}? 'form-control fieldError' : 'input--style-6'">
                            <p th:if="${#fields.hasErrors('aniId')}" th:errors="*{aniId}">Incorrect date</p>
                            <input type="button" class="btn btn--radius-2 btn--blue-2" onclick="findByAniId()" value="조회" />

                        </div>
                    </div>
                    <div class="form-row-do">
                        <div class="name">동물이름</div>
                        <div class="value">
                            <input class="input--style-6" type="text" name="full_name" id="aniName" th:for="aniName" th:field="*{aniName}" required>
                        </div>
                    </div>
                    <div class="form-row-do">
                        <div class="name">몸무게</div>
                        <div class="value">
                            <input class="input--style-6" type="text" name="full_name" id="weight" th:for="weight" th:field="*{weight}">
                        </div>
                    </div>
                    <div class="form-row-do">
                        <div class="name">견종</div>
                        <div class="value">
                            <input class="input--style-6" type="text" name="full_name" id="kind" th:for="kind" th:field="*{kind}">
                        </div>
                    </div>
                    <div class="form-row-do">
                        <div class="name">모색</div>
                        <div class="value">
                            <input class="input--style-6" type="text" name="full_name" id="color" th:for="color" th:field="*{color}">
                        </div>
                    </div>
                    <div class="form-row-do" >
                        <div class="name">성별</div>
                        <div class="value">
                            <input class="radio_btn" type="radio" name="gender"  value="male" required /> male
                            <input class="radio_btn" type="radio" name="gender" value="female" /> female
                        </div>
                    </div>
                    <div class="form-row-do">
                        <div class="name">출생년도</div>
                        <div class="value">
                            <input class="input--style-6"  type="text" name="full_name" id="birth" th:for="birth" th:field="*{birth}">
                        </div>
                    </div>
                    <div class="form-row-do">
                        <div class="name">중성화 유무</div>
                        <div class="value">
                            <input class="radio_btn" type="radio" name="neutralization" value="yes" required /> yes
                            <input class="radio_btn" type="radio" name="neutralization" value="no"  /> no
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn--radius-2 btn--blue-2" type="submit">등록</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>




</body>
<!--footer -->
<div th:replace="fragments/footer_content :: footer_content" />
<!--footer-end -->







<script type="text/javascript">
    $(document).ready(function () {
        $.datepicker.regional['ko'] = {
            closeText: '닫기',
            prevText: '이전달',
            nextText: '다음달',
            currentText: '오늘',
            monthNames: ['1월(JAN)','2월(FEB)','3월(MAR)','4월(APR)','5월(MAY)','6월(JUN)',
                '7월(JUL)','8월(AUG)','9월(SEP)','10월(OCT)','11월(NOV)','12월(DEC)'],
            monthNamesShort: ['1월','2월','3월','4월','5월','6월',
                '7월','8월','9월','10월','11월','12월'],
            dayNames: ['일','월','화','수','목','금','토'],
            dayNamesShort: ['일','월','화','수','목','금','토'],
            dayNamesMin: ['일','월','화','수','목','금','토'],
            weekHeader: 'Wk',
            dateFormat: 'yy-mm-dd',
            firstDay: 0,
            isRTL: false,
            showMonthAfterYear: true,
            yearSuffix: '',
            buttonText: "달력",
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            yearRange: 'c-99:c+99',
        };
        $.datepicker.setDefaults($.datepicker.regional['ko']);

        $('#birth').datepicker();
        $('#birth').datepicker("option", "maxDate", $("#birth").val());


    });
</script>
<script type="text/javascript" th:inline="javascript">
    function findByAniId() {
        var aniId = $("#aniId").val();
        var sendDataById = "aniId="+aniId;
        console.log("sendDataById : " + sendDataById)

        $.ajax({
            url: "/ani/find",
            type: "post",
            data: sendDataById,

            success: function (result) {
                alert(result);

                let getResultById = result.split(",");
                let aniName, kind, weight, color

                for (let idx=0; idx <  4; idx++){
                    let value = getResultById [idx];
                    if(idx == 0){
                        aniName= value;
                    }else if(idx == 1){
                        kind= value;
                    }else if(idx==2){
                        weight= value;
                    }else if(idx==3) {
                        color=value;
                    }
                }
                document.getElementById('aniName').value = aniName;
                document.getElementById('kind').value = kind;
                document.getElementById('weight').value = weight;
                document.getElementById('color').value = color;
                console.log(aniName + aniId + kind + weight + color);

            },
            error: function (sendDataById) {
                alert("실패 : " + sendDataById);
            }
        });
    };
</script>

<script type="text/javascript" th:inline="javascript">
    function findByPhone() {
        var phone = $("#phone").val();
        var sendDataByPhone = "phone="+phone;
        console.log("sendDataByPhone : " + sendDataByPhone)

        $.ajax({
            url: "/ani/findByPhone",
            type: "post",
            data: sendDataByPhone,

            success: function (result) {
                alert(result);

                let aniIdList =[];
                aniIdList = result;
                $.each(aniIdList, function(index, value) {
                console.log(index + " : " + value.aniId);
                });
            },

            error: function (sendDataByPhone) {
                alert("실패 : " + sendDataByPhone);
            }
        });
    };

</script>






</html>
