<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<!--navbar-->
<div th:replace="fragments/navbar_content :: navbar_content"/>
<!--navbar end-->

<body>
<div class="container">

    <div>
        <table class="table table-striped" action="/ani/detail" th:object="${register}" method="GET">
            <thead>
            <tr>
                <th>#</th>
                <th>동물등록번호</th>
                <th>동물이름</th>
                <th>몸무게</th>
                <th>견종</th>
                <th>모색</th>
                <th>성별</th>
                <th>출생년도</th>
                <th>중성화여부</th>

                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="*{registerIdx}"></td>
                <td th:text="*{aniId}"></td>
                <td th:text="*{aniName}"></td>
                <td th:text="*{weight}"></td>
                <td th:text="*{kind}"></td>
                <td th:text="*{color}"></td>
                <td th:text="*{gender}"></td>
                <td th:text="*{birth}"></td>
                <td th:text="*{neutralization}"></td>
                <td>
                    <a href="#" th:href="@{/ani/{idx}/update (idx=${registerIdx})}"
                       class="btn btn-primary" role="button">수정</a>
                </td>
                <td class="">
                    <form action="/ani/delete" method="post">
                        <input type="submit" id="registerIdx" name="registerIdx" class="form-control" th:value="*{registerIdx}" th:text="삭제">

                    </form>
                </td>
                <td>
                    <a href="/ani/list"
                       class="btn btn-primary" role="button">돌아가기</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div> <!-- /container -->
</body>
<!--footer -->
<div th:replace="fragments/footer :: footer" />
<!--footer-end -->

<!-- Bootstrap -->
<script src="/js/bootstrap.min.js"></script>



</html>