<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header_content :: header_content" />
<!--navbar-->
<div th:replace="fragments/navbar_content :: navbar_content"/>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/fonts/icomoon/style.css}">
  <!-- Style -->
    <link rel="stylesheet" th:href="@{/css/style_form.css}">
  <link rel="stylesheet" th:href="@{/css/style_detail.css}">
  <style>.fieldError { border-color: #bd2130;}</style>

<body>


  <div class="content">

    <div class="container">
        <div class="row">
          <div class="col-md-5m mr-auto">
            <h3 class="mb-3">Introduce my lovely Dog!</h3>
              <hr>
              <div class="col-md-6 form-group">
                <form  action="/ani/detail" th:object="${register}" method="GET" id="contactForm" name="contactForm">
                  <input type="hidden" th:field="*{registerIdx}" />
                  <input type="hidden" th:field="*{aniId}" />
                  <input type="hidden" th:field="*{user.userIdx}" />
                  <input type="hidden" th:field="*{del}" />
                  <input type="text" id="fileName" name="fileName" th:field="*{fileName}" hidden>
                <p>사랑스러운 우리 강아지의 백신접종 내역을 등록하고,
                  <br>IDEA서비스를 통해 다음 접종일 알림을 받아보세요!
                  <br>아래의 QR코드로 우리 강아지의 정보를 손쉽게 열어 볼 수 있어요!</p>
                  <div class="img-box">
                    <img  style="width: 250px; height:300px" onclick="qrcodeSave()"
                         src="/img/lovely.jpg">
                  </div> <!-- img-box  -->
                  <hr>

                    <div class="col-md-3">
                      <div class="email" onclick="this.classList.add('expand')">
                          <div class="from">
                              <div class="from-contents">
                                <div class="avatar me"></div>
                                <div class="name">QR코드</div>
                              </div> <!--from-contents -->
                          </div><!--from -->
                        <div class="to">
                          <div class="to-contents">
                                <div class="top">
                                  <div class="avatar-large me"></div>
                                  <div class="name-large" ></div>
                                  <div class="x-touch" onclick="document.querySelector('.email').classList.remove('expand');event.stopPropagation();">
                                    <div class="x">
                                      <div class="line1"></div>
                                      <div class="line2"></div>
                                    </div><!-- x -->
                                  </div><!-- x-touch -->
                                </div><!--top -->
                                <div class="bottom">
                                  <div class="row">
                                      <g transform="translate(-539.17946,-568.85777)" id="layer1">
                                        <img id="file" style="width: 200px; height:200px"
                                        th:src="@{/qrcode/animals/peterpet_{idx}.png (idx=*{fileName})}">
                                      </g>
                                  </div><!--row     onclick="qrcodeSave()"-->
                                </div><!--bottom -->
                          </div><!-- to-contents-->
                        </div><!--to -->
                      </div><!--email -->
                    </div>

                      <div class="col-md-3">
                      <div class="email2" onclick="this.classList.add('expand')">
                        <div class="from">
                          <div class="from-contents">
                            <div class="avatar kakao"></div>
                            <div class="name">전송하기</div>
                          </div> <!--from-contents -->
                        </div><!--from -->
                        <div class="to">
                          <div class="to-contents">
                            <div class="top">
                              <div class="avatar-large kakao"></div>
                              <div class="name-large"></div>
                              <div class="x-touch" onclick="document.querySelector('.email2').classList.remove('expand');event.stopPropagation();">
                                <div class="x">
                                  <div class="line1"></div>
                                  <div class="line2"></div>
                                </div><!-- x -->
                              </div><!-- x-touch -->
                            </div><!--top -->
                            <div class="bottom">
                              <div class="row">
                                <g transform="translate(-539.17946,-568.85777)" id="layer1">
                                  <img  style="width: 200px; height:200px" onclick="sendToKakao()"
                                       src="/img/kakaosend.png">
                                </g>
                              </div><!--row -->
                            </div><!--bottom -->
                          </div><!-- to-contents-->
                        </div><!--to -->
                      </div><!--email -->
                    </div><!-- "col-md-6 -->


              </form><!--  -->
              </div> <!--col-md-6 form-group -->

          </div>

        <div class="col-md-6">
          <div class="box">
            <form class="mb-5" action="/ani/detail" th:object="${register}" method="GET" id="contactForm2" name="contactForm2">
              <h3 class="heading" th:text="*{aniName}" name="aniName" id="aniName"></h3>
              <div class="row">
                <div class="col-md-6">
                  <label class="col-form-label">동물등록번호</label>
                  <div class="text-box">
                    <h2 th:text="*{aniId}" class="form-control" name="aniId" id="aniId" ></h2>
                  </div>
                </div>
                <div class="col-md-6">
                  <label for="aniId" class="col-form-label">출생년도</label>
                  <h2 th:text="*{birth}" class="form-control" name="birth" id="birth" ></h2>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label for="kind" class="col-form-label">견종</label>
                  <h2 th:text="*{kind}" class="form-control" name="kind" id="kind" ></h2>
                </div>
                <div class="col-md-6">
                  <label for="color" class="col-form-label">모색</label>
                  <h2 th:text="*{color}" class="form-control" name="color" id="color" ></h2>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label for="gender" class="col-form-label">성별</label>
                  <h2 th:text="*{gender}" class="form-control" name="gender" id="gender" ></h2>
                </div>
                <div class="col-md-6">
                  <label for="birth" class="col-form-label">중성화</label>
                  <h2 th:text="*{neutralization}" class="form-control" name="neutralization" id="neutralization" ></h2>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-6">
                  <label for="userName" class="col-form-label">반려인</label>
                  <h2 th:text="*{user.username}" class="form-control" name="userName" id="userName" ></h2>
                </div>
                <div class="col-md-6">
                  <label for="phone" class="col-form-label">전화번호</label>
                  <h2 th:text="*{user.phone}" class="form-control" name="phone" id="phone"></h2>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12" style="float: right">
                  <a href="#" th:href="@{/ani/{idx}/update (idx=${registerIdx})}"
                     class="btn btn-primary" role="button">수정</a>
                </div>
              </div>
            </form>
            <form action="/ani/delete" method="post">
              <button type="submit" role="button" id="registerIdx" name="registerIdx"  class="btn btn-primary" th:value="*{registerIdx}" >삭제</button>
            </form>
          </div>
        </div>
      </div>

  </div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>

  </body>
<!--footer -->
<div th:replace="fragments/footer_content :: footer_content" />
<!--footer-end -->
<!-- Bootstrap -->
<!--<script src="/js/bootstrap.min.js"></script>-->

<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script type="text/javascript" th:inline="javascript">

    Kakao.init('fcbac05f33f0c412744d496da6d59d87'); //발급받은 키 중 javascript키를 사용해준다.
    console.log(Kakao.isInitialized()); // sdk초기화여부판단
    // var file_path = document.getElementById('file').src;
    const toDataURL = url => fetch(url)
            .then(response => response.blob())
            .then(blob => new Promise((resolve, reject) => {
              const reader = new FileReader()
              reader.onloadend = () => resolve(reader.result)
              reader.onerror = reject
              reader.readAsDataURL(blob)
            }))

    function dataURLtoFile(dataurl, filename) {
      var arr = dataurl.split(','), mime = arr[0].match(/:(.*?);/)[1],
              bstr = atob(arr[1]), n = bstr.length, u8arr = new Uint8Array(n);
      while (n--) {
        u8arr[n] = bstr.charCodeAt(n);
      }
      return new File([u8arr], filename, {type: mime});
    }


    var aniId = $("#aniId").text();
    var aniName = $("#aniName").text();
    var weight = $("#weight").text();
    var kind = $("#kind").text();
    var color = $("#color").text();
    var neutralization = $("#neutralization").text();
    var fileName = $("#fileName").text();
    console.log(aniId, aniName, weight, kind, color, neutralization, fileName)


    //나에게 메세지 보내기
    function sendToKakao() {
      var file_path = document.getElementById('file').src;
      console.log(file_path);
      var filetmp
      toDataURL(file_path)
              .then(dataUrl => {
                console.log('RESULT 1 :', dataUrl)
                filetmp = dataURLtoFile(dataUrl, 'filetest.png');
                console.log('RESULT 2:', filetmp);
                var arrTmp = new Array();
                arrTmp.push(filetmp)
                Kakao.Link.uploadImage({
                  file: arrTmp
                }).then(function (res) {

                  // alert(res.infos.original.url)
                  console.log(res.infos.original.url)
                  var imgPath = res.infos.original.url;

                  Kakao.Auth.login({
                    //scope: 'PROFILE,TALK_MESSAGE',
                    success: function () {

                      Kakao.API.request({
                        url: '/v2/api/talk/memo/default/send',
                        data: {
                          template_object: {
                            object_type: 'feed',
                            content: {
                              title: 'IDEA',
                              description: 'IDEA와 함께 슬기로운 반려문화에 동참하세요',
                              image_url: imgPath,
                              link: {
                                web_url: 'http://localhost:8080/home',
                                mobile_web_url: 'http://localhost:8080/home',
                              },
                            },
                            item_content: {
                              profile_text: aniName,
                              profile_image_url: 'http://k.kakaocdn.net/dn/yEDty/bl3hWCSbQZa/WCdd5n8h5zWD8eYWZvGy61/kakaolink40_original.png',
                              title_image_url: 'http://k.kakaocdn.net/dn/7XmJg/bl3hWCdAcq2/W98I79CS6w1kW1Dgl14BXK/kakaolink40_original.png',
                              title_image_text: 'IDEA',
                              title_image_category: fileName,
                              items: [
                                {
                                  item: '이름',
                                  item_op: aniName,
                                },
                                {
                                  item: '몸무게',
                                  item_op: weight,
                                },
                                {
                                  item: '견종',
                                  item_op: kind,
                                },
                                {
                                  item: '모색',
                                  item_op: color,
                                },

                                {
                                  item: '중성화',
                                  item_op: neutralization,
                                }
                              ],
                              sum: '대행기관',
                              sum_op: "PeterPet",
                            },

                            button_title: 'GO TO IDEA',
                          },
                        },
                        success: function (response) {
                          console.log(response);
                          alert("전송되었습니다.")

                        },
                        fail: function (error) {
                          console.log(error);
                          alert("전송에 실패하였습니다.")
                        },
                      })
                    },
                    fail: function (err) {
                      alert('failed to login: ' + JSON.stringify(err))
                    },
                  })

                });
              })




    }


</script>


</html>