<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header_content :: header_content" />
<link rel="stylesheet" th:href="@{/css/style_form.css}">
<!--navbar-->
<div th:replace="fragments/navbar_content :: navbar_content"/>
<!--navbar end-->

<body>
<div class="container">
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>동물등록번호</th>
                <th>동물이름</th>
                <th>몸무게</th>
                <th>견종</th>
                <th>모색</th>
                <th>성별</th>
                <th>출생년도</th>
                <th>중성화여부</th>

                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="ani : ${anis}">
                <td th:text="${ani.registerIdx}"></td>
                <td th:text="${ani.aniId}"></td>
                <td th:text="${ani.aniName}"></td>
                <td th:text="${ani.weight}"></td>
                <td th:text="${ani.kind}"></td>
                <td th:text="${ani.color}"></td>
                <td th:text="${ani.gender}"></td>
                <td th:text="${ani.birth}"></td>
                <td th:text="${ani.neutralization}"></td>
                <td>
                    <a href="#" th:href="@{/ani/{idx}/update (idx=${ani.registerIdx})}"
                       class="btn btn-primary" role="button">수정</a>
                </td>
                <td>
                    <a href="#" th:href="@{/ani/{idx}/detail (idx=${ani.registerIdx})}"
                       class="btn btn-primary" role="button">자세히</a>
                </td>
                <td>
                    <a href="#" th:href="@{/ani/qr/r{idx} (idx=${ani.aniId})}"
                    class="btn btn-primary" role="button"  >QR CODE</a>
<!--                    <img id="file" style="width: 200px; height:200px" onclick="qrcodeSave()" -->
<!--                         src="/qrcode/animals/86qrcode.png">-->
                    <img id="file" style="width: 200px; height:200px" onclick="qrcodeSave()"
                     th:src="@{/qrcode/animals/{idx}qrcode.png (idx=${ani.aniId})}">


                </td>
                <td>

                </td>
            </tr>

            <tr>
                <td>
                    <a href="/ani/new" class="btn btn-primary" role="button">추가</a>
                </td>


            </tr>
            </tbody>
        </table>
    </div>

</div> <!-- /container -->
</body>
<!--footer -->
<div th:replace="fragments/footer_content :: footer_content" />
<!--footer-end -->

<!-- Bootstrap -->
<script src="/bootstrap/js/bootstrap.min.js"></script>

<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script type="text/javascript" th:inline="javascript">
    Kakao.init('fcbac05f33f0c412744d496da6d59d87'); //발급받은 키 중 javascript키를 사용해준다.
    console.log(Kakao.isInitialized()); // sdk초기화여부판단
   // var file_path = document.getElementById('file').src;
    const toDataURL = url => fetch(url)
        .then(response => response.blob())
        .then(blob => new Promise((resolve, reject) => {
            const reader = new FileReader()
            reader.onloadend = () => resolve(reader.result)
            reader.onerror = reject
            reader.readAsDataURL(blob)
        }))

      function dataURLtoFile(dataurl, filename) {
          var arr = dataurl.split(','), mime = arr[0].match(/:(.*?);/)[1],
              bstr = atob(arr[1]), n = bstr.length, u8arr = new Uint8Array(n);
          while(n--){
              u8arr[n] = bstr.charCodeAt(n);
          }
          return new File([u8arr], filename, {type:mime});
      }


    function qrcodeSave() {
        var file_path = document.getElementById('file').src;
        console.log(file_path);
        var filetmp
        toDataURL(file_path)
            .then(dataUrl => {
                console.log('RESULT 1 :', dataUrl)
                filetmp = dataURLtoFile(dataUrl, 'filetest.png');
                console.log('RESULT 2:', filetmp);
                var arrTmp = new Array();
                arrTmp.push(filetmp)
                Kakao.Link.uploadImage({
                    file: arrTmp
                }).then(function(res){

                    alert(res.infos.original.url)
                    console.log(res.infos.original.url)
                });
            })

    }

</script>



</html>