<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header_content :: header_content" />
<head>
    <title>Carousel 03</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css">

    <link rel="stylesheet" href="/css/style2.css">


</head>
<link rel="stylesheet" th:href="@{/css/style_form.css}">
<!--navbar-->
<div th:replace="fragments/navbar_content :: navbar_content"/>
<!--navbar end-->



<body>
<section class="ftco-section" >
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div >
                    <div class="item" style="float: left; margin-right: 30px; width:300px" th:each="ani : ${anis}" >
                        <div class="work">
                            <div class="img d-flex align-items-end justify-content-center" href="/home" style="background-image: url(/img/puppy.png);">
                                <div class="text w-100">
                                    <span class="cat" th:text="*{ani.aniId}" >동물등록번호</span>
                                    <h3><a  th:text="*{ani.aniName}" >동물이름</a></h3>
                                    <a href="#" th:href="@{/ani/{idx}/detail (idx=${ani.registerIdx})}"
                                       class="btn btn-primary" role="button">자세히</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<tbody>
<tr>
    <td>

    </td>
</tr>

<tr>
    <td>
        <a href="/ani/new" class="btn btn-primary" role="button">추가</a>
    </td>
</tr>
</tbody>
</table>
</div>
</body>



<!--footer -->
<div th:replace="fragments/footer_content :: footer_content" />
<!--footer-end -->

<script src="/js/jquery.min2.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min2.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>


<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script type="text/javascript" th:inline="javascript">
    Kakao.init('fcbac05f33f0c412744d496da6d59d87'); //발급받은 키 중 javascript키를 사용해준다.
    console.log(Kakao.isInitialized()); // sdk초기화여부판단
    // var file_path = document.getElementById('file').src;
    const toDataURL = url => fetch(url)
        .then(response => response.blob())
        .then(blob => new Promise((resolve, reject) => {
            const reader = new FileReader()
            reader.onloadend = () => resolve(reader.result)
            reader.onerror = reject
            reader.readAsDataURL(blob)
        }))

    function dataURLtoFile(dataurl, filename) {
        var arr = dataurl.split(','), mime = arr[0].match(/:(.*?);/)[1],
            bstr = atob(arr[1]), n = bstr.length, u8arr = new Uint8Array(n);
        while(n--){
            u8arr[n] = bstr.charCodeAt(n);
        }
        return new File([u8arr], filename, {type:mime});
    }


    function qrcodeSave() {
        var file_path = document.getElementById('file').src;
        console.log(file_path);
        var filetmp
        toDataURL(file_path)
            .then(dataUrl => {
                console.log('RESULT 1 :', dataUrl)
                filetmp = dataURLtoFile(dataUrl, 'filetest.png');
                console.log('RESULT 2:', filetmp);
                var arrTmp = new Array();
                arrTmp.push(filetmp)
                Kakao.Link.uploadImage({
                    file: arrTmp
                }).then(function(res){

                    alert(res.infos.original.url)
                    console.log(res.infos.original.url)
                });
            })

    }

</script>



</html>