<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<!--navbar-->
<div th:replace="fragments/navbar_content :: navbar_content"/>
<!--navbar end-->

<body>
<div class="container">
    <form th:object="${form}" method="post">
        <!-- id -->
        <input type="hidden" th:field="*{registerIdx}" />
        <input type="hidden" th:field="*{aniId}" />
        <input type="hidden" th:field="*{user.userIdx}" />
        <input type="hidden" th:field="*{del}" />
        <div class="form-group">
            <label th:for="aniName">동물이름</label>
            <input type="text" th:field="*{aniName}" class="form-control"
                   placeholder="동물이름을 입력하세요" />
        </div>
        <div class="form-group">
            <label th:for="weight">몸무게</label>
            <input type="text" th:field="*{weight}" class="form-control"
                   placeholder="몸무게를 입력하세요" />
        </div>
        <div class="form-group">
            <label th:for="kind">견종</label>
            <input type="text" th:field="*{kind}" class="form-control" placeholder="견종을 입력하세요" />
        </div>
        <div class="form-group">
            <label th:for="color">모색</label>
            <input type="text" th:field="*{color}" class="form-control"
                   placeholder="모색을 입력하세요" />
        </div>
        <div class="form-group">
            <label th:for="gender">성별</label>
            <input type="text" th:field="*{gender}" class="form-control"
                   placeholder="성별을 입력하세요" />
        </div>
        <div class="form-group">
            <label th:for="birth">출생년도</label>
            <input type="text" th:field="*{birth}" class="form-control"
                   placeholder="출생년도를 입력하세요" autocomplete="off"/>
        </div>
        <div class="form-group">
            <label th:for="neutralization">중성화</label>
            <input type="text" th:field="*{neutralization}" class="form-control"
                   placeholder="중성화여부를 입력하세요" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div> <!-- /container -->
</body>
<!--footer -->
<div th:replace="fragments/footer :: footer" />
<!--footer-end -->

<!-- calendar -->
<script type="text/javascript">
    $(document).ready(function () {
        $.datepicker.regional['ko'] = {
            closeText: '닫기',
            prevText: '이전달',
            nextText: '다음달',
            currentText: '오늘',
            monthNames: ['1월(JAN)','2월(FEB)','3월(MAR)','4월(APR)','5월(MAY)','6월(JUN)',
                '7월(JUL)','8월(AUG)','9월(SEP)','10월(OCT)','11월(NOV)','12월(DEC)'],
            monthNamesShort: ['1월','2월','3월','4월','5월','6월',
                '7월','8월','9월','10월','11월','12월'],
            dayNames: ['일','월','화','수','목','금','토'],
            dayNamesShort: ['일','월','화','수','목','금','토'],
            dayNamesMin: ['일','월','화','수','목','금','토'],
            weekHeader: 'Wk',
            dateFormat: 'yy-mm-dd',
            firstDay: 0,
            isRTL: false,
            showMonthAfterYear: true,
            yearSuffix: '',
            buttonText: "달력",
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            yearRange: 'c-99:c+99',
        };
        $.datepicker.setDefaults($.datepicker.regional['ko']);

        $('#birth').datepicker();
        $('#birth').datepicker("option", "maxDate", $("#birth").val());


    });
</script>
</html>