<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>

<link rel="stylesheet" href="/css/style_blood.css"/>
<script type="text/javascript" src="/js/jsQR.js"></script>
<head th:replace="fragments/header_content :: header_content" />
<link rel="stylesheet" th:href="@{/css/style_form.css}">

<!-- Font-->
<link rel="stylesheet" type="text/css" href="/css/opensans-font.css">
<link rel="stylesheet" type="text/css" href="/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
<!-- Main Style Css -->

</head>

<!--navbar-->
<div th:replace="fragments/navbar_content :: navbar_content"/>
<!--navbar end-->
<body>
<div class="page-content">
	<div class="form-v1-content">
		<div class="wizard-form">
			<form class="formRegister" name="formRegister" th:action="@{/transfusion/new}" th:object="${transfusionForm}" method="post" autocomplete="off">
				<div id="form-total">
					<!-- SECTION 1 -->
					<h2>
						<p class="step-icon"><span>01</span></p>
						<span class="step-text">조회</span>
					</h2>
					<input type="text" id="hash" name="hash" value="hash" th:id="hash" th:for="hash" th:field="*{hash}" hidden>
					<input type="text" id="aniImg" name="aniImg" value="aniImg"   hidden>

					<section>
							<div class="inner">
								<div class="wizard-header">
									<h3 class="heading">동물등록번호 조회</h3>
									<p>반려견 등록 당시 입력한 전화번호를 입력해주세요.</p>
								</div>
								<div class="form-row">
									<div class="form-holder form-holder-4">
										<input type="text" name="find_bank" id="lookup" value="이름" class="form-control" >
									</div>
									<div class="form-holder form-holder-1">
										<select name="registerIdx" id="register" class="form-control"  th:onchange="changeValues()" >
											<option value="">강아지선택</option>
											<option th:each="register : ${registers}"
													th:value="|${register.registerIdx},${register.aniId},${register.kind},${register.neutralization},${register.aniName},${register.aniImg}|"
													th:text="${register.aniName}"
											/>
										</select>
									</div>
								</div>
								<div class="form-row">
									<div class="form-holder form-holder-4">
										<input type="text" name="find_bank"  id="qrcode" value="동물등록번호" class="form-control" >
									</div>
									<div class="form-holder form-holder-1">
										<input type="text" name="find_bank" id="aniId1" placeholder="동물등록번호" class="form-control" readonly>
									</div>

								</div>
							</div>
					</section>

						<!-- SECTION 2 -->
						<h2>
							<p class="step-icon"><span>02</span></p>
							<span class="step-text">등록</span>
						</h2>
						<section>
							<div class="inner">
								<div class="wizard-header">
									<h3 class="heading">수혈견 정보 등록</h3>
									<p>Please enter your pet-infomation and proceed to the next step so we can build your NFT.  </p>
								</div>
								<div class="form-row">
									<div class="form-holder">
										<fieldset>
											<legend>반려견 이름</legend>
											<input type="text" class="form-control" id="aniName" name="aniName"  required>
										</fieldset>
									</div>
									<div class="form-holder">
										<fieldset>
											<legend>동물등록번호</legend>
											<input type="text" id="aniId" th:id="aniId" th:for="register" class="form-control" th:field="*{register.aniId}" >

										</fieldset>
									</div>
								</div>
								<div class="form-row">
									<div class="form-holder">
										<fieldset>
											<legend>몸무게</legend>
											<input type="text" id="TWeight" th:id="TWeight" th:for="TWeight" class="form-control" th:field="*{TWeight}" required>

										</fieldset>
									</div>
									<div class="form-holder">
										<fieldset>
											<legend>견종</legend>
											<input type="text" id="kind" th:id="kind" th:for="kind" class="form-control" th:field="*{kind}" required>

										</fieldset>
									</div>
								</div>
								<div class="form-row">
									<div class="form-holder">
										<fieldset>
											<legend>수혈양</legend>
											<input type="text" id="TPack" th:id="TPack" th:for="TPack" class="form-control" th:field="*{TPack}"  required>
										</fieldset>
									</div>
									<div class="form-holder">
										<fieldset>
											<legend>헌혈일시</legend>
											<input type="text" id="TDate" name="TDate" th:for="TDate" class="form-control" th:field="*{TDate}" required>
										</fieldset>
									</div>
								</div>
								<div class="form-row">
									<div class="form-holder form-holder-2">
										<fieldset>
											<legend>헌혈 기관</legend>
											<input type="text" id="THos" th:id="THos" th:for="THos" class="form-control" th:field="*{THos}" required>
										</fieldset>
									</div>
								</div>
								<div class="form-row form-row-date">
									<div class="form-holder form-holder-2">
										<select name="month" id="month" class="form-control">
											<option value="TYPE" disabled selected>혈액형</option>
											<option value="DEA 1.1">DEA 1.1</option>
											<option value="DEA 1.2">DEA 1.2</option>
											<option value="DEA 4">DEA 4</option>
											<option value="DEA 7">DEA 7</option>
										</select>
										<div class="form-row">
											<div class="form-holder2 form-holder-2">
											</div>

										</div>

									</div>
									<div class="form-holder form-holder-4">
										<input type="button" name="find_bank" id="check" value="등록" class="form-control" onclick="toAjax()">

									</div>
								</div>

							</div>
						</section>

						<!-- SECTION 3 -->
						<h2>
							<p class="step-icon"><span>03</span></p>
							<span class="step-text">완료</span>
						</h2>
						<section>
							<div class="inner">
								<div class="wizard-header">
									<h3 class="heading">THANK YOU!</h3>
									<p>Please enter your infomation and proceed to the next step so we can build your accounts.</p>
								</div>
								<div class="form-row">
									<div class="form-holder form-holder-2">
										<input type="radio" class="radio" name="radio1" id="plan-1" value="plan-1">
										<label class="plan-icon plan-1-label" for="plan-1">
											<img src="/img/form-v1-icon-2.png" alt="pay-1">
										</label>
										<div class="plan-total">
											<span class="plan-title">접종 정보 등록</span>
											<p class="plan-text">Pellentesque nec nam aliquam sem et volutpat consequat mauris nunc congue nisi.</p>
										</div>
										<input type="radio" class="radio" name="radio1" id="plan-2" value="plan-2">
										<label class="plan-icon plan-2-label" for="plan-2">
											<img src="/img/form-v1-icon-2.png" alt="pay-1">
										</label>
										<div class="plan-total">
											<span class="plan-title">헌혈견 정보 등록</span>
											<p class="plan-text">Pellentesque nec nam aliquam sem et volutpat consequat mauris nunc congue nisi.</p>
										</div>
										<input type="radio" class="radio" name="radio1" id="plan-3" value="plan-3" checked>
										<label class="plan-icon plan-3-label" for="plan-3">
											<img src="/img/form-v1-icon-3.png" alt="pay-2">
										</label>
										<div class="plan-total">
											<span class="plan-title">마이페이지</span>
											<p class="plan-text">Pellentesque nec nam aliquam sem et volutpat consequat mauris nunc congue nisi.</p>
										</div>
									</div>
								</div>
							</div>
						</section>

				</div>
			</form>
		</div>
	</div>
</div>
<script src="/js/jquery.steps.js"></script>
<script src="/js/main.js"></script>
<script type="text/javascript">
	$(document).ready(function () {
		$.datepicker.regional['ko'] = {
			closeText: '닫기',
			prevText: '이전달',
			nextText: '다음달',
			currentText: '오늘',
			monthNames: ['1월(JAN)','2월(FEB)','3월(MAR)','4월(APR)','5월(MAY)','6월(JUN)',
				'7월(JUL)','8월(AUG)','9월(SEP)','10월(OCT)','11월(NOV)','12월(DEC)'],
			monthNamesShort: ['1월','2월','3월','4월','5월','6월',
				'7월','8월','9월','10월','11월','12월'],
			dayNames: ['일','월','화','수','목','금','토'],
			dayNamesShort: ['일','월','화','수','목','금','토'],
			dayNamesMin: ['일','월','화','수','목','금','토'],
			weekHeader: 'Wk',
			dateFormat: 'yy-mm-dd',
			firstDay: 0,
			isRTL: false,
			showMonthAfterYear: true,
			yearSuffix: '',
			buttonText: "달력",
			changeMonth: true,
			changeYear: true,
			showButtonPanel: true,
			yearRange: 'c-99:c+99',
		};
		$.datepicker.setDefaults($.datepicker.regional['ko']);

		$('#TDate').datepicker();
		$('#TDate').datepicker("option", "maxDate", $("#TDate").val());


	});
</script>

<!--메타데이터 업로드-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/caver-js/1.6.5-rc.2/caver.min.js" integrity="sha512-2PMOAlTrOMvxwtl+AB67naKpUtzNVdwRmychnd2lIuaRg1HlqAiJ0qd4miDWKKfcHZi6gX5NKAfeb+wfD3094w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript" th:inline="javascript">

	function toAjax() {

		console.log("1");

		var aniId =$("#aniId").val();
		var aniName=$("#aniName").val();
		var TWeight=$("#TWeight").val();
		var kind=$("#kind").val();
		var TPack=$("#TPack").val();
		var TDate=$("#TDate").val();
		var THos=$("#THos").val();
		var type=$("#type").val();


		let http = new XMLHttpRequest();
		let url = 'https://metadata-api.klaytnapi.com/v1/metadata';
		let data= {
			"metadata": {
				"name": "수헐견등록정보",
				"image": "https://metadata-store.klaytnapi.com/e2d83vdb-c108-823c-d5f3-69vdf2d871c51/4a85e6be-3215-93e6-d8a9-3a7d633584e7.png",
				"aniId" : aniId,
				"aniName" : aniName,
				"TWeight" : TWeight,
				"kind" : kind,
				"TPack" : TPack,
				"TDate" : TDate,
				"THos" : THos,
				"type" : type

			}

		}
		http.open('POST', url, true);


		//Send the proper header information along with the request
		http.setRequestHeader('Content-type', 'application/json');
		http.setRequestHeader('Authorization', 'Basic S0FTS1IwQTNDMVA4SUNRS0Q5V1dJSThTOmZHeVZodlFieUh1dTdHdWl1TjV2eWdodmdlSU9fcXl5ZlhqYUlUVkc=');
		http.setRequestHeader('x-chain-id', '1001');

		http.onreadystatechange = function() {//Call a function when the state changes.
			// mintToken(http.responseText);
			console.log('META-STATE', http.readyState)
			if(http.readyState !=4) return;
			console.log(http.response)
			var jsonArray =http.responseText
			var jsonParsedArray = JSON.parse(jsonArray);

			mintToken(jsonParsedArray["uri"]);   //토큰생성


			console.log("8")




		}
		http.send(JSON.stringify(data));
		console.log("7")





	}


	//토큰 생성(데이터를 토큰화하여 블록체인에 전송)

	function mintToken(uri) {
		let timestamp= Math.floor(new Date().getTime() / 1000);

		// console.log("=====start mintToken======");
		// console.log("timestamp >>> " +timestamp);
		let http = new XMLHttpRequest();
		let url = 'https://kip17-api.klaytnapi.com/v1/contract/0x5c8b5eb9571d6e413801737eb16502181df7ff91/token';
		let data= {
			"to": "0x5fbf75a9fdfd1d9180ea8242da08d7f9ae4a772e", //형우님 테스트 주소
			"id": "0x"+timestamp, //계정 timestamp함수를 통해 생성, 아이디 하나당 한번의 토큰만 생성할 수 있음
			"uri": uri
		}
		http.open('POST', url, true);


		//Send the proper header information along with the request
		http.setRequestHeader('Content-type', 'application/json');
		http.setRequestHeader('Authorization', 'Basic S0FTS1IwQTNDMVA4SUNRS0Q5V1dJSThTOmZHeVZodlFieUh1dTdHdWl1TjV2eWdodmdlSU9fcXl5ZlhqYUlUVkc=');
		http.setRequestHeader('x-chain-id', '1001');

		http.onreadystatechange = function() {//Call a function when the state changes.
			console.log('TOKEN-STATE', http.readyState)
			if(http.readyState !=4) return;

			let jsonResult = JSON.parse(http.responseText);
			let hash = jsonResult.transactionHash;


			$('#hash').val(hash);
			alert(hash);
			var form = document.formRegister;
			form.action="/transfusion/new";
			form.submit();


		}
		http.send(JSON.stringify(data));

	}


</script>



<script th:inline="javascript">

	function getType(Event) {
		document.getElementById('result').innerText =
				Event.target.value;
	}
	function changeValues() {


		//select된 값 가져오면서 , 기준 파싱
		let selectOption = document.getElementById("register").value.split(",");

		//변수 선언
		let aniId,kind,neutralization,aniName, aniImg;

		//각각 파싱된 변수들 저장
		for (let idx=0; idx <  6; idx++){
			let value = selectOption [idx];
			if(idx == 1){
				aniId= value;
			}else if(idx == 2){
				kind= value;
			}else if(idx==3){
				neutralization= value;
			}else if(idx==4){
				aniName=value;
			}else if(idx==5){
				aniImg=value;
			}
		}


		//input id값으로 저장된 값 설정 및 뿌려주기

		document.getElementById('aniId').value = aniId;
		document.getElementById('aniId1').value = aniId;
		document.getElementById('kind').value = kind;
		//1. 사용안하는 란이 존재해서 여기에 오류가 걸려서
		//document.getElementById('neutralization').value = neutralization;

		//2. 코드를 여기까지 읽지않고 끝내버림
		document.getElementById('aniName').value=aniName;
		document.getElementById('aniImg').value=aniImg;

	}




</script>

</body>
<!--footer -->
<div th:replace="fragments/footer_content :: footer_content" />
<!--footer-end -->
<!-- jQuery -->
<!--<script src="js/jquery.min.js"></script>-->


</html>