<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>
<!--navbar-->
<div th:replace="fragments/navbar_content :: navbar_content"/>
<!--navbar end-->


<body>
<div class="container">
    <form th:object="${form}" method="post">
        <!-- id -->
        <div class="form-group">
            <label th:for="donationIdx">#</label>
            <input type="text" th:field="*{vaccineIdx}" class="form-control"
                   readonly />
        </div>
        <div class="form-group">
            <label th:for="register.registerIdx">동물등록번호</label>
            <input type="text"  th:value="${form.getRegisterVaccines().get(0).register.aniId}"  class="form-control" readonly />

        </div>

        <label for="first">1차 선택</label>
        <select name="first" id="first" class="form-control"  >
            <option value="">1차 선택</option>
            <option th:value="${form.getVaccineVinfos().get(0).vinfo.first}"
                    th:each="first : ${T(com.likeadog.idea.enumCollection.FirstStatus).values()}"
                    th:value="${first}" th:text="${first}"
            />

        </select>


        <div class="form-group">
            <label th:for="second">2차선택</label>
            <input id = "second" type="text" th:value="${form.getVaccineVinfos().get(0).vinfo.second}" class="form-control"  />
        </div>

        <div class="form-group">
            <label th:for="third">3차선택</label>
            <input id = "third" type="text" th:value="${form.getVaccineVinfos().get(0).vinfo.third}" class="form-control"  />
        </div>

        <div class="form-group">
            <label th:for="VDatet">접종 날짜</label>
            <input type="text" th:field="*{VDate}" class="form-control"
                   placeholder="몸무게를 입력하세요" />
        </div>
        <div class="form-group">
            <label th:for="NDate">다음 날짜</label>
            <input type="text" th:field="*{NDate}" class="form-control"
                   placeholder="견종을 입력하세요" />
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div><!-- /container -->
</body>

<!--footer -->
<div th:replace="fragments/footer :: footer" />
<!--footer-end -->

<script type="text/javascript">
    $(document).ready(function () {
        $.datepicker.regional['ko'] = {
            closeText: '닫기',
            prevText: '이전달',
            nextText: '다음달',
            currentText: '오늘',
            monthNames: ['1월(JAN)','2월(FEB)','3월(MAR)','4월(APR)','5월(MAY)','6월(JUN)',
                '7월(JUL)','8월(AUG)','9월(SEP)','10월(OCT)','11월(NOV)','12월(DEC)'],
            monthNamesShort: ['1월','2월','3월','4월','5월','6월',
                '7월','8월','9월','10월','11월','12월'],
            dayNames: ['일','월','화','수','목','금','토'],
            dayNamesShort: ['일','월','화','수','목','금','토'],
            dayNamesMin: ['일','월','화','수','목','금','토'],
            weekHeader: 'Wk',
            dateFormat: 'yy-mm-dd',
            firstDay: 0,
            isRTL: false,
            showMonthAfterYear: true,
            yearSuffix: '',
            buttonText: "달력",
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            yearRange: 'c-99:c+99',
        };
        $.datepicker.setDefaults($.datepicker.regional['ko']);

        $('#TDate').datepicker();
        $('#TDate').datepicker("option", "maxDate", $("#TDate").val());
        $('#TDate').datepicker("option", "onClose", function ( selectedDate ) {
            $("#TDate").datepicker( "option", "minDate", selectedDate );
        });

    });
</script>
<!-- jQuery -->
<!--<script src="js/jquery.min.js"></script>-->

<!-- Bootstrap -->
<script src="/static/bootstrap/js/bootstrap.min.js"></script>

<!-- Components Plugin -->
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/smooth-scroll.js"></script>
<script src="js/jquery.appear.js"></script>
<script src="js/jquery.countTo.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/imagesloaded.pkgd.min.js"></script>
<script src="js/isotope.pkgd.min.js"></script>
<script src="js/jquery.mb.YTPlayer.js"></script>
<script src="js/retina.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="inc/owlcarousel/js/owl.carousel.min.js"></script>
<script src="inc/revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="inc/revolution/js/jquery.themepunch.revolution.min.js"></script>

<!-- Contact Form -->
<script src="js/contact.js"></script>

<!--  &lt;!&ndash; Custom Plugin &ndash;&gt;-->
<!--  <script src="/js/custom.js"></script>-->

<!-- RS Plugin Extensions -->
<script src="inc/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script src="inc/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="inc/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="inc/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="inc/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="inc/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="inc/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="inc/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script src="inc/revolution/js/extensions/revolution.extension.parallax.min.js"></script>

</html>