<!DOCTYPE html>
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header_content :: header_content" />
<link rel="stylesheet" th:href="@{/css/style_form.css}">


<!-- Font-->
<link rel="stylesheet" type="text/css" href="/css/opensans-font.css">
<link rel="stylesheet" type="text/css" href="/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
<!-- Main Style Css -->
<!--    <link rel="stylesheet" href="/css/style_blood.css"/>-->
<script type="text/javascript" src="/js/jsQR.js"></script>




<!--   카카오 스크립트-->

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d1a6cacadaec20832158d15aa9ad1c41&libraries=services"></script>
<link href="/css/map.css" rel="stylesheet">
<!--<script src="/js/map.js"></script>-->


</head>

<!--navbar-->
<div th:replace="fragments/navbar_content :: navbar_content"/>
<!--navbar end-->
<body>
<div class="page-content">
	<div class="form-v1-content">
		<div class="wizard-form">
			<form class="form-register" action="#" method="post">
				<div id="form-total">
					<!-- SECTION 1 -->
					<h2>
						<p class="step-icon"><span>01</span></p>
						<span class="step-text">조회</span>
					</h2>
					<section>
						<div class="inner">
							<div class="wizard-header">
								<h3 class="heading">동물등록번호 조회</h3>
								<p>반려견 등록 당시 입력한 전화번호를 입력해주세요.</p>
							</div>
							<div class="form-row">
								<div class="form-holder form-holder-1">
									<input type="text" name="find_bank" id="find_bank" placeholder="'-'없이 입력해주세요." class="form-control">
								</div>
								<div class="form-holder form-holder-4">
									<input type="button" name="find_bank" id="lookup" value="조회" class="form-control" >
								</div>
							</div>
							<div class="form-row">
								<div class="form-holder form-holder-1">
									<input type="text" name="find_bank" id="aniId" placeholder="동물등록번호" class="form-control">
								</div>
								<div class="form-holder form-holder-4">
									<input type="button" name="find_bank" id="qrcode" value="QR코드" class="form-control" >
								</div>
							</div>
							<div class="qrBox" >
								<div class="modalQRcode">
									<div class="modal_content">
										<div id="frame">
											<div id="loadingMessage" hidden>
												🎥 비디오 스트림에 액세스 할 수 없습니다<br/>웹캠이 활성화되어 있는지 확인하십시오
											</div> <!-- loadingMessage-->
											<canvas id="canvas" style="width: 400px; height: 300px"></canvas>
										</div> <!-- frame-->
									</div> <!-- modal_content-->
								</div><!-- modalQRcode-->
							</div>
						</div>
					</section>



					<!-- SECTION 2 -->
					<h2>
						<p class="step-icon"><span>02</span></p>
						<span class="step-text">등록</span>
					</h2>
					<section>
						<div class="inner">
							<div class="wizard-header">
								<h3 class="heading">헌혈견 정보 등록</h3>
								<p>Please enter your infomation and proceed to the next step so we can build your accounts.  </p>
							</div>
							<div class="form-row">
								<div class="form-holder">
									<fieldset>
										<legend>반려견 이름</legend>
										<input type="text" class="form-control" id="first-name" name="first-name" placeholder="연이" required>
									</fieldset>
								</div>
								<div class="form-holder">
									<fieldset>
										<legend>동물등록번호</legend>
										<input type="text" class="form-control" id="did" name="last-name" placeholder="410160020250774" required>
									</fieldset>
								</div>
							</div>
							<div class="form-row">
								<div class="form-holder">
									<fieldset>
										<legend>몸무게</legend>
										<input type="text" name="your_email" id="your_email" class="form-control" pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}" placeholder="3.0Kg" required>
									</fieldset>
								</div>
								<div class="form-holder">
									<fieldset>
										<legend>견종</legend>
										<input type="text" class="form-control" id="phone" name="phone" placeholder="토이푸들" required>
									</fieldset>
								</div>
							</div>
							<div class="form-row">
								<div class="form-holder form-holder-2">

								</div>
							</div>
							<div class="form-row">
								<div class="form-holder form-holder-2">

								</div>
							</div>
							<div class="form-row">
								<div class="form-holder form-holder-2">
									<fieldset>
										<legend>헌혈 기관</legend>
										<input type="text" class="form-control" id="OrgName" name="phone" placeholder="건국대학교 수의병원" required>
									</fieldset>
								</div>
							</div>

							<div class="qrBox" >
								<div class=" mapShow">
									<div class="modal_content">
										<div class="map_wrap">
											<div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>

											<div id="menu_wrap" class="bg_white">
												<div class="option">
													<div>
														<form id="formSearch" onsubmit="searchPlaces()">
															키워드 :
															<input type="text" name="searchKeyword" value="동물병원" id="keyword" size="15">
															<button onclick="searchPlaces()">검색하기</button>
														</form>
													</div>
												</div>
												<hr>
												<ul id="placesList"></ul>
												<div id="pagination"></div>
											</div>
										</div>
									</div> <!-- modal_content-->
								</div><!-- modalQRcode-->
							</div>





							<div class="form-row form-row-date">
								<div class="form-holder form-holder-2">
									<!--                              <label class="special-label">혈액형</label>-->
									<select name="month" id="month">
										<option value="MM" disabled selected>혈액형</option>
										<option value="16">DEA 1.1</option>
										<option value="17">DEA 1.2</option>
										<option value="18">DEA 4</option>
										<option value="19">DEA 7</option>
									</select>
									<!--                              <div class="form-row">-->
									<!--                                 <div class="form-holder2 form-holder-2">-->
									<!--                                    <input type="text" class="form-control input-border" id="ssn" name="ssn" placeholder="헌혈날짜" required>-->
									<!--                                 </div>-->
									<!--                              </div>-->

								</div>
							</div>

						</div>
					</section>

					<!-- SECTION 3 -->
					<h2>
						<p class="step-icon"><span>03</span></p>
						<span class="step-text">완료</span>
					</h2>
					<section>
						<div class="inner">
							<div class="wizard-header">
								<h3 class="heading">THANK YOU!</h3>
								<p>Please enter your infomation and proceed to the next step so we can build your accounts.</p>
							</div>
							<div class="form-row">
								<div class="form-holder form-holder-2">
									<input type="radio" class="radio" name="radio1" id="plan-1" value="plan-1">
									<label class="plan-icon plan-1-label" for="plan-1">
										<img src="/img/form-v1-icon-2.png" alt="pay-1">
									</label>
									<div class="plan-total">
										<span class="plan-title">접종 정보 등록</span>
										<p class="plan-text">Pellentesque nec nam aliquam sem et volutpat consequat mauris nunc congue nisi.</p>
									</div>
									<input type="radio" class="radio" name="radio1" id="plan-2" value="plan-2">
									<label class="plan-icon plan-2-label" for="plan-2">
										<img src="/img/form-v1-icon-2.png" alt="pay-1">
									</label>
									<div class="plan-total">
										<span class="plan-title">수혈견 정보 등록</span>
										<p class="plan-text">Pellentesque nec nam aliquam sem et volutpat consequat mauris nunc congue nisi.</p>
									</div>
									<input type="radio" class="radio" name="radio1" id="plan-3" value="plan-3" checked>
									<label class="plan-icon plan-3-label" for="plan-3">
										<img src="/img/form-v1-icon-3.png" alt="pay-2">
									</label>
									<div class="plan-total">
										<span class="plan-title">마이페이지</span>
										<p class="plan-text">Pellentesque nec nam aliquam sem et volutpat consequat mauris nunc congue nisi.</p>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</form>
		</div>
	</div>
</div>

</body>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/jquery.steps.js"></script>
<script src="/js/main.js"></script>

<script type="text/javascript">
	$(function(){
		$("#qrcode").click(function() {
			$(".modalQRcode").fadeIn();

			var video = document.createElement("video");
			var canvasElement = document.getElementById("canvas");
			var canvas = canvasElement.getContext("2d");
			var loadingMessage = document.getElementById("loadingMessage");
			var aniId = document.getElementById("aniId");
			function drawLine(begin, end, color) {
				canvas.beginPath();
				canvas.moveTo(begin.x, begin.y);
				canvas.lineTo(end.x, end.y);
				canvas.lineWidth = 4;
				canvas.strokeStyle = color;
				canvas.stroke();
			}
			// 카메라 사용시
			navigator.mediaDevices.getUserMedia({ video: { facingMode: "environment" } }).then(function(stream) {
				video.srcObject = stream;
				video.setAttribute("playsinline", true);      // iOS 사용시 전체 화면을 사용하지 않음을 전달
				video.play();
				requestAnimationFrame(tick);
			});
			async function tick() {
				loadingMessage.innerText = "⌛ 스캔 기능을 활성화 중입니다."
				if(video.readyState === video.HAVE_ENOUGH_DATA) {
					loadingMessage.hidden = true;
					canvasElement.hidden = false;
					// outputContainer.hidden = false;
					// 읽어들이는 비디오 화면의 크기
					canvasElement.height = video.videoHeight;
					canvasElement.width = video.videoWidth;
					canvas.drawImage(video, 0, 0, canvasElement.width, canvasElement.height);
					var imageData = canvas.getImageData(0, 0, canvasElement.width, canvasElement.height);
					var code = jsQR(imageData.data, imageData.width, imageData.height, {
						inversionAttempts : "dontInvert",
					});
					// QR코드 인식에 성공한 경우
					if(code) {
						// 인식한 QR코드의 영역을 감싸는 사용자에게 보여지는 테두리 생성
						drawLine(code.location.topLeftCorner, code.location.topRightCorner, "#FFCE49");
						drawLine(code.location.topRightCorner, code.location.bottomRightCorner, "#FFCE49");
						drawLine(code.location.bottomRightCorner, code.location.bottomLeftCorner, "#FFCE49");
						drawLine(code.location.bottomLeftCorner, code.location.topLeftCorner, "#FFCE49");


						// QR코드 메시지 출력
						aniId.innerHTML = code.data;

						const aniId2 = code.data;
						$('#aniId').val(aniId2);
						console.log(`aniId:${aniId}`);
						//카메라 사라지기
						$(".modalQRcode").fadeOut();



						//세훈:한나 = did:aniId
						// $.ajax({
						//    url:`http://192.168.43.99:3000/api/pet/get/all/petInfos/${did}`,
						//    type:"GET",
						//    contentType: "application/json",
						//    success: function(result) {
						//       if (result) {
						//          console.log(result.peterpet);
						//          // location.href = "/home/blood";
						//       }
						//       else {
						//          alert("잠시 후에 시도해주세요.");
						//       }
						//    },
						//    error: function() {
						//       alert("에러 발생");
						//    } })
						// return을 써서 함수를 빠져나가면 QR코드 프로그램이 종료된다.
						return;
					}
					// QR코드 인식에 실패한 경우
					else {
						// outputMessage.hidden = false;
						// outputData.parentElement.hidden = true;
					}
				}
				requestAnimationFrame(tick);


			}


		});
		$("#canvas").click(function(){
			$(".modalQRcode").fadeOut();
		});
	});
</script>
<script type="text/javascript">
	// document.addEventListener("DOMContentLoaded",
</script>

<!--footer -->
<div th:replace="fragments/footer_content :: footer_content" />
<!--footer-end -->


<!-- Bootstrap -->
<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript">
	var markers = [];

	var mapContainer = document.getElementById('map'), // 지도를 표시할 div
			mapOption = {
				center: new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
				level: 3 // 지도의 확대 레벨
			};

	// 지도를 생성합니다
	var map = new kakao.maps.Map(mapContainer, mapOption);

	// 장소 검색 객체를 생성합니다
	var ps = new kakao.maps.services.Places();

	// 검색 결과 목록이나 마커를 클릭했을 때 장소명을 표출할 인포윈도우를 생성합니다
	var infowindow = new kakao.maps.InfoWindow({zIndex:1});

	// 키워드로 장소를 검색합니다
	searchPlaces();

	// 키워드 검색을 요청하는 함수입니다
	function searchPlaces() {

		var keyword = document.getElementById('keyword').value;
		console.log(keyword)

		if (!keyword.replace(/^\s+|\s+$/g, '')) {
			alert('키워드를 입력해주세요!');
			return false;
		}

		// 장소검색 객체를 통해 키워드로 장소검색을 요청합니다
		ps.keywordSearch( keyword, placesSearchCB);
	}

	// 장소검색이 완료됐을 때 호출되는 콜백함수 입니다
	function placesSearchCB(data, status, pagination) {
		if (status === kakao.maps.services.Status.OK) {

			// 정상적으로 검색이 완료됐으면
			// 검색 목록과 마커를 표출합니다
			displayPlaces(data);

			// 페이지 번호를 표출합니다
			displayPagination(pagination);

		} else if (status === kakao.maps.services.Status.ZERO_RESULT) {

			alert('검색 결과가 존재하지 않습니다.');
			return;

		} else if (status === kakao.maps.services.Status.ERROR) {

			alert('검색 결과 중 오류가 발생했습니다.');
			return;

		}
	}

	// 검색 결과 목록과 마커를 표출하는 함수입니다
	function displayPlaces(places) {

		var listEl = document.getElementById('placesList'),
				menuEl = document.getElementById('menu_wrap'),
				fragment = document.createDocumentFragment(),
				bounds = new kakao.maps.LatLngBounds(),
				listStr = '';

		// 검색 결과 목록에 추가된 항목들을 제거합니다
		removeAllChildNods(listEl);

		// 지도에 표시되고 있는 마커를 제거합니다
		removeMarker();

		for ( var i=0; i<places.length; i++ ) {

			// 마커를 생성하고 지도에 표시합니다
			var placePosition = new kakao.maps.LatLng(places[i].y, places[i].x),
					marker = addMarker(placePosition, i),
					itemEl = getListItem(i, places[i]); // 검색 결과 항목 Element를 생성합니다

			// 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
			// LatLngBounds 객체에 좌표를 추가합니다
			bounds.extend(placePosition);

			// 마커와 검색결과 항목에 mouseover 했을때
			// 해당 장소에 인포윈도우에 장소명을 표시합니다
			// mouseout 했을 때는 인포윈도우를 닫습니다
			(function(marker, title) {
				kakao.maps.event.addListener(marker, 'mouseover', function() {
					displayInfowindow(marker, title);
				});

				kakao.maps.event.addListener(marker, 'mouseout', function() {
					infowindow.close();
				});

				itemEl.onmouseover =  function () {
					displayInfowindow(marker, title);
				};

				itemEl.onmouseout =  function () {
					infowindow.close();
				};
			})(marker, places[i].place_name);

			fragment.appendChild(itemEl);
		}

		// 검색결과 항목들을 검색결과 목록 Elemnet에 추가합니다
		listEl.appendChild(fragment);
		menuEl.scrollTop = 0;

		// 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
		map.setBounds(bounds);
	}

	// 검색결과 항목을 Element로 반환하는 함수입니다
	function getListItem(index, places) {

		var el = document.createElement('li'),
				itemStr = '<span class="markerbg marker_' + (index+1) + '"></span>' +
						'<div class="info">' +
						'   <h5>' + places.place_name + '</h5>';
		el.onclick= function () { setOrg(places.place_name)}

		if (places.road_address_name) {
			itemStr += '    <span>' + places.road_address_name + '</span>' +
					'   <span class="jibun gray">' +  places.address_name  + '</span>';
		} else {
			itemStr += '    <span>' +  places.address_name  + '</span>';
		}

		itemStr += '  <span class="tel">' + places.phone  + '</span>' +
				'</div>';

		el.innerHTML = itemStr;
		el.className = 'item';
		console.log(itemStr)
		console.log(places.place_name)


		return el;
	}

	// 마커를 생성하고 지도 위에 마커를 표시하는 함수입니다
	function addMarker(position, idx, title) {
		var imageSrc = 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png', // 마커 이미지 url, 스프라이트 이미지를 씁니다
				imageSize = new kakao.maps.Size(36, 37),  // 마커 이미지의 크기
				imgOptions =  {
					spriteSize : new kakao.maps.Size(36, 691), // 스프라이트 이미지의 크기
					spriteOrigin : new kakao.maps.Point(0, (idx*46)+10), // 스프라이트 이미지 중 사용할 영역의 좌상단 좌표
					offset: new kakao.maps.Point(13, 37) // 마커 좌표에 일치시킬 이미지 내에서의 좌표
				},
				markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imgOptions),
				marker = new kakao.maps.Marker({
					position: position, // 마커의 위치
					image: markerImage
				});

		marker.setMap(map); // 지도 위에 마커를 표출합니다
		markers.push(marker);  // 배열에 생성된 마커를 추가합니다

		return marker;
	}

	// 지도 위에 표시되고 있는 마커를 모두 제거합니다
	function removeMarker() {
		for ( var i = 0; i < markers.length; i++ ) {
			markers[i].setMap(null);
		}
		markers = [];
	}

	// 검색결과 목록 하단에 페이지번호를 표시는 함수입니다
	function displayPagination(pagination) {
		var paginationEl = document.getElementById('pagination'),
				fragment = document.createDocumentFragment(),
				i;

		// 기존에 추가된 페이지번호를 삭제합니다
		while (paginationEl.hasChildNodes()) {
			paginationEl.removeChild (paginationEl.lastChild);
		}

		for (i=1; i<=pagination.last; i++) {
			var el = document.createElement('a');
			el.href = "#";
			el.innerHTML = i;

			if (i===pagination.current) {
				el.className = 'on';
			} else {
				el.onclick = (function(i) {
					return function() {
						pagination.gotoPage(i);
					}
				})(i);
			}

			fragment.appendChild(el);
		}
		paginationEl.appendChild(fragment);
	}

	// 검색결과 목록 또는 마커를 클릭했을 때 호출되는 함수입니다
	// 인포윈도우에 장소명을 표시합니다
	function displayInfowindow(marker, title) {
		var content = '<div style="padding:5px;z-index:1;">' + title + '</div>';

		infowindow.setContent(content);
		infowindow.open(map, marker);
	}
	function removeAllChildNods(el) {
		while (el.hasChildNodes()) {
			el.removeChild (el.lastChild);
		}
	}

	function setOrg(name){
		$("#OrgName")[0].value = name
	}
	$(function(){
		$("#map2").click(function() {
			$(".mapShow").fadeIn();
		})
	})


</script>


</html>