<!DOCTYPE html>
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header_content :: header_content" />
<link rel="stylesheet" th:href="@{/css/style_form.css}">


<!-- Font-->
<link rel="stylesheet" type="text/css" href="/css/opensans-font.css">
<link rel="stylesheet" type="text/css" href="/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
<!-- Main Style Css -->
<!--    <link rel="stylesheet" href="/css/style_blood.css"/>-->
<script type="text/javascript" src="/js/jsQR.js"></script>




<!--   카카오 스크립트-->

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d1a6cacadaec20832158d15aa9ad1c41&libraries=services"></script>
<link href="/css/map.css" rel="stylesheet">
<!--<script src="/js/map.js"></script>-->


</head>

<!--navbar-->
<div th:replace="fragments/navbar_content :: navbar_content"/>
<!--navbar end-->
<body>
<div class="page-content">
	<div class="form-v1-content">
		<div class="wizard-form">
			<form id="qrcodeForm" name="qrcodeForm" th:object="${qrcodeForm}" class="form-register" method="post" autocomplete="off">
				<input type="text" id="dhash" name="dhash" value="dhash" th:id="dhash" th:for="dhash" th:field="*{dhash}" hidden>
				<div id="form-total">
					<!-- SECTION 1 -->
					<h2>
						<p class="step-icon"><span>01</span></p>
						<span class="step-text">조회</span>
					</h2>
					<section>
						<div class="inner">
							<div class="wizard-header">
								<h3 class="heading">동물등록번호 조회</h3>
								<p>반려견 등록 당시 입력한 전화번호를 입력해주세요.</p>
							</div>
							<div class="form-row">
								<div class="form-holder form-holder-1">
									<input type="text" name="bNumber" id="bNumber"  class="form-control" placeholder="혈액번호" th:id="bNumber" th:for="bNumber" >
								</div>
								<div class="form-holder form-holder-4">
								<input class="modal-btn2" type="checkbox" id="qrcode2" name="modal-btn2"/>
								<label for="qrcode2">혈액번호 조회<i class="fa fa-qrcode" aria-hidden="true" STYLE="text-align: center" ></i></label>
									<div class="modal2" name="modal2" id="modal2">
										<div class="modal-wrap2">
											<div class="qrBox2" >
												<div class="modalQRcode2">
													<div class="modal_content2">
														<div id="frame2">
															<div id="loadingMessage2" hidden>
																🎥 비디오 스트림에 액세스 할 수 없습니다<br/>웹캠이 활성화되어 있는지 확인하십시오
															</div> <!-- loadingMessage-->
															<canvas id="canvas2" style="width: 400px; height: 300px"></canvas>
														</div> <!-- frame-->
													</div> <!-- modal_content-->
												</div><!-- modalQRcode-->
											</div>
											<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
										</div>
									</div>
								</div>
							</div>
							<div class="form-row">
								<div class="form-holder form-holder-1">
									<input type="text"  name="dosId" id="dosId" placeholder="동물등록번호" class="form-control"
										   th:id="dosId" th:for="dosId" >
								</div>
								<div class="form-holder form-holder-4">
									<input class="modal-btn" type="checkbox" id="qrcode" name="modal-btn"/>
									<label for="qrcode">QRCODE 조회<i class="fa fa-qrcode" aria-hidden="true" STYLE="text-align: center" ></i></label>
									<div class="modal" name="modal" id="modal">
										<div class="modal-wrap">
											<div class="qrBox" >
												<div class="modalQRcode">
													<div class="modal_content">
														<div id="frame">
															<div id="loadingMessage" hidden>
																🎥 비디오 스트림에 액세스 할 수 없습니다<br/>웹캠이 활성화되어 있는지 확인하십시오
															</div> <!-- loadingMessage-->
															<canvas id="canvas" style="width: 400px; height: 300px"></canvas>
														</div> <!-- frame-->
													</div> <!-- modal_content-->
												</div><!-- modalQRcode-->
											</div>
											<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
										</div>
									</div>
								</div>
							</div>


						</div>
					</section>



					<!-- SECTION 2 -->
					<h2>
						<p class="step-icon"><span>02</span></p>
						<span class="step-text">등록</span>
					</h2>
					<section>
						<div class="inner">
							<div class="wizard-header">
								<h3 class="heading">헌혈견 정보 등록</h3>
								<p>Please enter your infomation and proceed to the next step so we can build your accounts.  </p>
							</div>
							<div class="form-row">
								<div class="form-holder">
									<fieldset>
										<legend>반려견 이름</legend>
										<input type="text" class="form-control" id="dosName" name="dosName" th:for="dosName"  required>
									</fieldset>
								</div>
								<div class="form-holder">
									<fieldset>
										<legend>동물등록번호</legend>
										<input type="text" class="form-control" id="dosId2" name="dosId2" th:for="dosId"  required>
									</fieldset>
								</div>
							</div>
							<div class="form-row">
								<div class="form-holder">
									<fieldset>
										<legend>수혈양</legend>
										<input type="text" name="dPack" id="dPack" class="form-control" th:for="dPack"   required>
									</fieldset>
								</div>
								<div class="form-holder">
									<fieldset>
										<legend>견종</legend>
										<input type="text" class="form-control" id="kind" name="kind" th:for="kind"  required>
									</fieldset>
								</div>
							</div>
							<div class="form-row">
								<div class="form-holder">
									<fieldset>
										<legend>수혈날짜</legend>
										<input type="text" name="dDate" id="dDate" class="form-control" th:for="dDate"   required>
									</fieldset>
								</div>
								<div class="form-holder">
									<fieldset>
										<legend>혈액형</legend>
										<input type="text" class="form-control" id="type" name="type" th:for="type"  required>
									</fieldset>
								</div>
							</div>
							<div class="form-row">
								<div class="form-holder form-holder-2">
									<fieldset>
										<legend>수혈 기관</legend>
										<input type="text" class="form-control" id="dHos" name="dHos" th:for="dHos"  placeholder="건국대학교 수의병원" required>
									</fieldset>
								</div>
							</div>
						</div>
						<!--추가-->
						<div class="form-row">
							<div class="form-holder form-holder-2">
								<fieldset>
									<input type="button" name="find_bank" id="check" value="등록" class="form-control" onclick="toAjax()">
								</fieldset>
							</div>
						</div>
					</section>

					<!-- SECTION 3 -->
					<h2>
						<p class="step-icon"><span>03</span></p>
						<span class="step-text">완료</span>
					</h2>
					<section>
						<div class="inner">
							<div class="wizard-header">
								<h3 class="heading">THANK YOU!</h3>
								<p>Please enter your infomation and proceed to the next step so we can build your accounts.</p>
							</div>
							<div class="form-row">
								<div class="form-holder form-holder-2">
									<input type="radio" class="radio" name="radio1" id="plan-1" value="plan-1">
									<label class="plan-icon plan-1-label" for="plan-1">
										<img src="/img/form-v1-icon-2.png" alt="pay-1">
									</label>
									<div class="plan-total">
										<span class="plan-title">접종 정보 등록</span>
										<p class="plan-text">Pellentesque nec nam aliquam sem et volutpat consequat mauris nunc congue nisi.</p>
									</div>
									<input type="radio" class="radio" name="radio1" id="plan-2" value="plan-2">
									<label class="plan-icon plan-2-label" for="plan-2">
										<img src="/img/form-v1-icon-2.png" alt="pay-1">
									</label>
									<div class="plan-total">
										<span class="plan-title">수혈견 정보 등록</span>
										<p class="plan-text">Pellentesque nec nam aliquam sem et volutpat consequat mauris nunc congue nisi.</p>
									</div>
									<input type="radio" class="radio" name="radio1" id="plan-3" value="plan-3" checked>
									<label class="plan-icon plan-3-label" for="plan-3">
										<img src="/img/form-v1-icon-3.png" alt="pay-2">
									</label>
									<div class="plan-total">
										<span class="plan-title">마이페이지</span>
										<p class="plan-text">Pellentesque nec nam aliquam sem et volutpat consequat mauris nunc congue nisi.</p>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</form>
		</div>
	</div>
</div>

</body>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/jquery.steps.js"></script>
<script src="/js/main.js"></script>




<script type="text/javascript" >
	$(function(){
		$("#qrcode").click(function() {
			$(".modalQRcode").fadeIn();

			var video = document.createElement("video");
			var canvasElement = document.getElementById("canvas");
			var canvas = canvasElement.getContext("2d");
			var loadingMessage = document.getElementById("loadingMessage");
			var dosId = document.getElementById("dosId");
			function drawLine(begin, end, color) {
				canvas.beginPath();
				canvas.moveTo(begin.x, begin.y);
				canvas.lineTo(end.x, end.y);
				canvas.lineWidth = 4;
				canvas.strokeStyle = color;
				canvas.stroke();
			}
			// 카메라 사용시
			navigator.mediaDevices.getUserMedia({ video: { facingMode: "environment" } }).then(function(stream) {
				video.srcObject = stream;
				video.setAttribute("playsinline", true);      // iOS 사용시 전체 화면을 사용하지 않음을 전달
				video.play();
				requestAnimationFrame(tick);
			});
			async function tick() {
				loadingMessage.innerText = "⌛ 스캔 기능을 활성화 중입니다."
				if(video.readyState === video.HAVE_ENOUGH_DATA) {
					loadingMessage.hidden = true;
					canvasElement.hidden = false;
					// outputContainer.hidden = false;
					// 읽어들이는 비디오 화면의 크기
					canvasElement.height = video.videoHeight;
					canvasElement.width = video.videoWidth;
					canvas.drawImage(video, 0, 0, canvasElement.width, canvasElement.height);
					var imageData = canvas.getImageData(0, 0, canvasElement.width, canvasElement.height);
					var code = jsQR(imageData.data, imageData.width, imageData.height, {
						inversionAttempts : "dontInvert",
					});
					// QR코드 인식에 성공한 경우
					if(code) {
						// 인식한 QR코드의 영역을 감싸는 사용자에게 보여지는 테두리 생성
						drawLine(code.location.topLeftCorner, code.location.topRightCorner, "#FFCE49");
						drawLine(code.location.topRightCorner, code.location.bottomRightCorner, "#FFCE49");
						drawLine(code.location.bottomRightCorner, code.location.bottomLeftCorner, "#FFCE49");
						drawLine(code.location.bottomLeftCorner, code.location.topLeftCorner, "#FFCE49");


						// QR코드 메시지 출력
						dosId.innerHTML = code.data;

						const dosId2 = code.data;
						$('#dosId2').val(dosId2);
						$('#dosId').val(dosId2);
						//console.log(`dosId:${dosId}`);
						console.log(`dosId:`+dosId2);
						//카메라 사라지기
						$(".modal").fadeOut();


						//추가
						var sendDataById = "dosId="+dosId2;

						$.ajax({
							url: "/donation/find",
							type: "post",
							data: sendDataById,

							success: function (result) {
								alert(result);

								let getResultById = result.split(",");
								let dosName, kind, dDate, dHos, dPack, type, dWeight

								for (let idx=0; idx < 7; idx++){
									let value = getResultById [idx];
									if(idx == 0){
										dosName= value;
									}else if(idx == 1){
										kind= value;
									}else if(idx==2){
										dDate= value;
									}else if(idx==3) {
										dHos=value;
									}else if(idx==4) {
										dPack=value;
									}else if(idx==5) {
										type=value;
									}else if(idx==6) {
										dWeight=value;
									}

								}
								document.getElementById('dosName').value = dosName;
								document.getElementById('kind').value = kind;
								document.getElementById('dDate').value = dDate;
								document.getElementById('dHos').value = dHos;
								document.getElementById('dPack').value = dPack;
								document.getElementById('type').value = type;
								document.getElementById('dWeight').value = dWeight;


								//console.log(aniName + aniId + kind + weight + color);

							},
							error: function (sendDataById) {
								alert("실패 : " + sendDataById);
							}
						});

						return;
					}
					// QR코드 인식에 실패한 경우
					else {
						// outputMessage.hidden = false;
						// outputData.parentElement.hidden = true;
					}
				}
				requestAnimationFrame(tick);


			}


		});
	});
	$(function(){
		$("#qrcode2").click(function() {
			$(".modalQRcode2").fadeIn();

			var video = document.createElement("video");
			var canvasElement = document.getElementById("canvas2");
			var canvas = canvasElement.getContext("2d");
			var loadingMessage2 = document.getElementById("loadingMessage2");
			var bNumber = document.getElementById("bNumber");
			function drawLine(begin, end, color) {
				canvas.beginPath();
				canvas.moveTo(begin.x, begin.y);
				canvas.lineTo(end.x, end.y);
				canvas.lineWidth = 4;
				canvas.strokeStyle = color;
				canvas.stroke();
			}
			// 카메라 사용시
			navigator.mediaDevices.getUserMedia({ video: { facingMode: "environment" } }).then(function(stream) {
				video.srcObject = stream;
				video.setAttribute("playsinline", true);      // iOS 사용시 전체 화면을 사용하지 않음을 전달
				video.play();
				requestAnimationFrame(tick);
			});
			async function tick() {
				loadingMessage2.innerText = "⌛ 스캔 기능을 활성화 중입니다."
				if(video.readyState === video.HAVE_ENOUGH_DATA) {
					loadingMessage2.hidden = true;
					canvasElement.hidden = false;
					// outputContainer.hidden = false;
					// 읽어들이는 비디오 화면의 크기
					canvasElement.height = video.videoHeight;
					canvasElement.width = video.videoWidth;
					canvas.drawImage(video, 0, 0, canvasElement.width, canvasElement.height);
					var imageData = canvas.getImageData(0, 0, canvasElement.width, canvasElement.height);
					var code = jsQR(imageData.data, imageData.width, imageData.height, {
						inversionAttempts : "dontInvert",
					});
					// QR코드 인식에 성공한 경우
					if(code) {
						// 인식한 QR코드의 영역을 감싸는 사용자에게 보여지는 테두리 생성
						drawLine(code.location.topLeftCorner, code.location.topRightCorner, "#FFCE49");
						drawLine(code.location.topRightCorner, code.location.bottomRightCorner, "#FFCE49");
						drawLine(code.location.bottomRightCorner, code.location.bottomLeftCorner, "#FFCE49");
						drawLine(code.location.bottomLeftCorner, code.location.topLeftCorner, "#FFCE49");


						// QR코드 메시지 출력
						bNumber.innerHTML = code.data;

						const bNumber2 = code.data;
						$('#bNumber').val(bNumber2);
						console.log(`bNumber:${bNumber}`);
						//카메라 사라지기
						$(".modal2").fadeOut();

						return;
					}
					// QR코드 인식에 실패한 경우
					else {

					}
				}
				requestAnimationFrame(tick);
			}
		});
	});
</script>
<script type="text/javascript">
	// document.addEventListener("DOMContentLoaded",
</script>

<!--footer -->
<div th:replace="fragments/footer_content :: footer_content" />
<!--footer-end -->
<script src="/bootstrap/js/bootstrap.min.js"></script>
<!--메타데이터 업로드-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/caver-js/1.6.5-rc.2/caver.min.js" integrity="sha512-2PMOAlTrOMvxwtl+AB67naKpUtzNVdwRmychnd2lIuaRg1HlqAiJ0qd4miDWKKfcHZi6gX5NKAfeb+wfD3094w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript" th:inline="javascript">

	function toAjax() {

		console.log("1");

		var dosId2 =$("#dosId2").val();
		var dosName=$("#dosName").val();
		var dPack=$("#dPack").val();
		var kind=$("#kind").val();
		var dDate=$("#dDate").val();
		var type=$("#type").val();
		var dHos=$("#dHos").val();
		var neutralization=$("#neutralization").val();


		let http = new XMLHttpRequest();
		let url = 'https://metadata-api.klaytnapi.com/v1/metadata';
		let data= {
			"metadata": {
				"name": "혈액-헌혈견등록정보",
				"image": "https://metadata-store.klaytnapi.com/e2d83vdb-c108-823c-d5f3-69vdf2d871c51/4a85e6be-3215-93e6-d8a9-3a7d633584e7.png",
				"dosId" : dosId2,
				"dosName" : dosName,
				"dPack" : dPack,
				"kind" : kind,
				"dDate" : dDate,
				"type" : type,
				"dHos" : dHos

			}

		}
		http.open('POST', url, true);


		//Send the proper header information along with the request
		http.setRequestHeader('Content-type', 'application/json');
		http.setRequestHeader('Authorization', 'Basic S0FTS1IwQTNDMVA4SUNRS0Q5V1dJSThTOmZHeVZodlFieUh1dTdHdWl1TjV2eWdodmdlSU9fcXl5ZlhqYUlUVkc=');
		http.setRequestHeader('x-chain-id', '1001');

		http.onreadystatechange = function() {//Call a function when the state changes.
			// mintToken(http.responseText);
			console.log('META-STATE', http.readyState)
			if(http.readyState !=4) return;
			console.log(http.response)
			var jsonArray =http.responseText
			var jsonParsedArray = JSON.parse(jsonArray);

			mintToken(jsonParsedArray["uri"]);   //토큰생성


			console.log("8")




		}
		http.send(JSON.stringify(data));
		console.log("7")





	}


	//토큰 생성(데이터를 토큰화하여 블록체인에 전송)

	function mintToken(uri) {
		let timestamp= Math.floor(new Date().getTime() / 1000);

		// console.log("=====start mintToken======");
		// console.log("timestamp >>> " +timestamp);
		let http = new XMLHttpRequest();
		let url = 'https://kip17-api.klaytnapi.com/v1/contract/0x5c8b5eb9571d6e413801737eb16502181df7ff91/token';
		let data= {
			"to": "0x5fbf75a9fdfd1d9180ea8242da08d7f9ae4a772e", //형우님 테스트 주소
			"id": "0x"+timestamp, //계정 timestamp함수를 통해 생성, 아이디 하나당 한번의 토큰만 생성할 수 있음
			"uri": uri
		}
		http.open('POST', url, true);


		//Send the proper header information along with the request
		http.setRequestHeader('Content-type', 'application/json');
		http.setRequestHeader('Authorization', 'Basic S0FTS1IwQTNDMVA4SUNRS0Q5V1dJSThTOmZHeVZodlFieUh1dTdHdWl1TjV2eWdodmdlSU9fcXl5ZlhqYUlUVkc=');
		http.setRequestHeader('x-chain-id', '1001');

		http.onreadystatechange = function() {//Call a function when the state changes.
			console.log('TOKEN-STATE', http.readyState)
			if(http.readyState !=4) return;

			let jsonResult = JSON.parse(http.responseText);
			let dhash = jsonResult.transactionHash;


			$('#dhash').val(dhash);
			alert(dhash);
			var form = document.qrcodeForm;
			form.action="/bNumber/new/donation";
			form.submit();


		}
		http.send(JSON.stringify(data));

	}


</script>


</html>